.i--icon-multifiler{
  height: 270px;
}

p{
  display:inline-block;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label
{
  background-color: white;
  background-size: 60%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  height: 140px;
  width: 140px;
  display:inline-block;
  padding: 0px;
  border-color: $color-global-yellow;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  position:relative;
  margin:5px;
  &.myself{
    background-image: url('public/assets/images/icons/icon-self.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%202%3C/title%3E%3Cg%20stroke%3D%22%23FFCB3B%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794z%22%20fill%3D%22%23FFCB3B%22/%3E%3Cpath%20d%3D%22M36.616%205.522c0%202.344-2.034%204.244-4.544%204.244s-4.546-1.9-4.546-4.244%202.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793zM54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22/%3E%3C/g%3E%3C/svg%3E');
  }
  &.partner{
    background-image: url('public/assets/images/icons/icon-partner.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%203%3C/title%3E%3Cg%20stroke%3D%22%23FFCB3B%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794z%22/%3E%3Cpath%20d%3D%22M32.072%209.766c-2.51%200-4.546-1.9-4.546-4.244s2.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244s-2.034%204.244-4.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793z%22%20fill%3D%22%23FFCB3B%22/%3E%3Cpath%20d%3D%22M54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22/%3E%3C/g%3E%3C/svg%3E');
  }
  &.other{
    background-image: url('public/assets/images/icons/icon-other.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%204%3C/title%3E%3Cg%20stroke%3D%22%23FFCB3B%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794zM36.616%205.522c0%202.344-2.034%204.244-4.544%204.244s-4.546-1.9-4.546-4.244%202.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793z%22/%3E%3Cpath%20d%3D%22M54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22%20fill%3D%22%23FFCB3B%22/%3E%3C/g%3E%3C/svg%3E');
  }
}

input[type=checkbox]:checked + label
{
  background-color: $color-global-yellow;
  border-color: $color-global-yellow;
  border-style: solid;
  border-width: 3px;
  &.myself{
    background-image: url('public/assets/images/icons/icon-self-white.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%202%3C/title%3E%3Cg%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794z%22%20fill%3D%22%23FFF%22/%3E%3Cpath%20d%3D%22M36.616%205.522c0%202.344-2.034%204.244-4.544%204.244s-4.546-1.9-4.546-4.244%202.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793zM54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22/%3E%3C/g%3E%3C/svg%3E');
  }
  &.partner{
    background-image: url('public/assets/images/icons/icon-partner-white.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%203%3C/title%3E%3Cg%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794z%22/%3E%3Cpath%20d%3D%22M32.072%209.766c-2.51%200-4.546-1.9-4.546-4.244s2.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244s-2.034%204.244-4.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793z%22%20fill%3D%22%23FFF%22/%3E%3Cpath%20d%3D%22M54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22/%3E%3C/g%3E%3C/svg%3E');

  }
  &.other{
    background-image: url('public/assets/images/icons/icon-other-white.png');
    background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2260%22%20height%3D%2242%22%20viewBox%3D%220%200%2060%2042%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EPage%201%20Copy%204%3C/title%3E%3Cg%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.07%205.522c0%202.344-2.036%204.244-4.545%204.244-2.512%200-4.546-1.9-4.546-4.244s2.033-4.244%204.545-4.244c2.51%200%204.544%201.9%204.544%204.244zM17.456%2011.69H3.592L1.266%2024.717H5.06l1.47%2016.19H14.518l1.468-16.19h3.794zM36.616%205.522c0%202.344-2.034%204.244-4.544%204.244s-4.546-1.9-4.546-4.244%202.035-4.244%204.546-4.244c2.51%200%204.544%201.9%204.544%204.244zM39.004%2011.69H25.14l-2.326%2013.028h3.794l1.47%2016.19h7.989l1.47-16.19h3.793z%22/%3E%3Cpath%20d%3D%22M54.43%2014.773c0%201.734-1.507%203.14-3.363%203.14s-3.36-1.406-3.36-3.14c0-1.733%201.504-3.14%203.36-3.14%201.856%200%203.362%201.407%203.362%203.14zM56.194%2019.334H45.94l-1.72%209.634h2.807l1.087%2011.974h5.907l1.088-11.974h2.806z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');

  }
}

input[type=checkbox] + label:after
{
  content:attr(data-label-filing);
  position:absolute;
  width: 100%;
  text-align: center;
  bottom: 8%;
  height: 25%;
  padding: 5px;
}

input[type=checkbox] + label:before
{
  background-image: url('public/assets/images/icons/icon-info.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EGroup%202%20Copy%202%3C/title%3E%3Cg%20transform%3D%22translate%281%201%29%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.42%22%3E%3Ctext%20font-family%3D%22Avenir-Black%2C%20Avenir%22%20font-size%3D%2214%22%20font-weight%3D%22700%22%20fill%3D%22%235C5C5C%22%3E%3Ctspan%20x%3D%226%22%20y%3D%2215%22%3E%3F%3C/tspan%3E%3C/text%3E%3Ccircle%20stroke%3D%22%235C5C5C%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%2210%22/%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  content:"";
  right:10px;
  top:10px;
  position:absolute;
}