.credits-form-container{
  text-align:center;
  width:80%;
}

.line-item-container{
  text-align: left;
}

.label-line-item{
  text-align: left;
  display: inline-block;
}

.label-line-price{
  text-align: right;
  float: right;
}

.button-details{
  float: right;
  vertical-align: middle;
}