.taxplan-tile {
  background-color: $color-global-white;
  position: relative;
  width: 140px;
  height: 111px;
  border: 3px solid $color-global-yellow;
  border-radius: 20px;
  margin: 5px;
  float: left;
  cursor: pointer;
  @include unselectable;
  &.active, &:hover {
    background-color: $color-global-yellow;
  }
}

.taxplan-tile-label {
  position: absolute;
  font-size: 0.8rem;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
}

.i--icon-question{
  width: 20px;
  height: 20px;
  right: 10px;
  top: 10px;
  position:absolute;
}
