.taxplan-tile {
  background-color: $color-global-white;
  position: relative;
  width: 140px;
  height: 111px;
  border: 3px solid $color-global-yellow;
  border-radius: 20px;
  margin: 5px;
  float: left;
  cursor: pointer;
  &.small-button{
    height:46px;
  }
  @include unselectable;
  &.active{
    background-color: $color-global-yellow;
    @media (min-width:1025px){ //hover only on desktop breakpoint
      &:hover {
        background-color: $color-global-yellow;
      }
    }
  }

  @media (min-width:1025px){ //hover only on desktop breakpoint
    &:hover {
      background-color: rgba($color-global-yellow, 0.25);
    }
  }

}

.taxplan-tile-label {
  position: absolute;
  font-size: 0.8rem;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: 10px;
  margin-right: 10px;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
}
