<main id="page-user-dashboard" class="full-screen-grid-container main-container">
    {{>dashboard-left-sidebar-main}}
    <div id="dashboard-container" class="small-7 medium-6">
        <p>coming soon</p>
    </div>
    {{>dashboard-right-sidebar-welcome}}
</main>
<script type="text/javascript">
    var userObject = JSON.parse('{{{locals.userToString}}}'),
            scrollMessages = true;
</script>