<main id="page-user-dashboard" class="full-screen-grid-container main-container">
    <div id="dashboard-container">
        <!--dynamically filled-->
    </div>
</main>
<script type="text/javascript">
    var userObject = JSON.parse('{{{locals.userToString}}}'),
            scrollMessages = true;
</script>