<main id="page-user-dashboard" class="grid-container">
    <h1>Dashboard</h1>
    <div class="small-4">
        <button id="dashboard-chat-activate">Chat</button>
        <button id="dashboard-upload-activate">Upload</button>
        {{#if user.enableTaxReturn}}
            <button id="dashboard-my-return-activate">My Return</button>
        {{/if}}
    </div>
    <div id="dashboard-container" class="small-8 grid-end">
        <p>coming soon</p>
    </div>
</main>
<script type="text/javascript">
    var userObject = JSON.parse('{{{locals.userToString}}}');
</script>