<main id="page-user-dashboard" class="full-screen-grid-container main-container">
    <div id="dashboard-container">
        <!--dynamically filled-->
        <input type="hidden" id="account-id-{{users.0.accountId}}" name="accountId" value="{{users.0.accountId}}"/>
        <input type="hidden" id="product-id-10" name="productId" value="10"/>
    </div>
</main>
<script type="text/javascript">
    var userObject = JSON.parse('{{{locals.userToString}}}'),
            scrollMessages = true;
</script>
