/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

$color-global-black: #000000;
$color-global-white: #FFFFFF;
$color-global-light-grey: #F9F9F9;
$color-global-button-grey: #C5C5C5;
$color-text-light-grey: #C9C9C7;
$color-border-light-grey: #EBEBEB;
$color-global-mid-grey: #5C5C5C;
$color-global-dark-grey: #9B9B9B;
$color-global-shadow: #D0D0D0;
$color-global-text-grey: #787878;
$color-global-border-grey:#A3A3A3;
$color-global-yellow: #FFCB3B;
$color-global-green: #88AC60;
$color-global-bg: #F5F3F1;
$color-sidebar-text-dark-grey: #424242;
$color-sidebar-dark-yellow: #F7961D;
$color-message-date: #9E9E9E;
$color-checkbox-bg: #D8D8D8;
$color-header-progress-blue: #227EBA;
$color-header-lightgrey: #B9B9B9;