<section id="tax-profile-credits" class="grid-container">
    <h1>credits</h1>
    <form id="credits-form">
        <button type="submit">Next</button>
    </form>
    <button id="credits-back">Back</button>
</section>