<section class="grid-container">
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Public Transit</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Child(ren) in arts / sports</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Student Loan</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Charitable / Political Donations</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">New Home / Condo</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Medical Expenses</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Have a Disability</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Tuition</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Property Taxes / Rent</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">College / University</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Tax Installment Payments</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">None of the Above</span>
    </div>
</section>