<section class="grid-container">
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">RRSP Contribution</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Investment Interest</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Union Dues or Fees</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Child Care Expenses</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Moving Expenses</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Work Related Expenses</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Spousal Support</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Carrying Charges</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">None of the Above</span>
    </div>
</section>