<section id="tax-profile-deductions">
    <h1>deductions</h1>
    <form id="deductions-form">
        <button type="submit">Next</button>
    </form>
    <button id="deductions-back">Back</button>
</section>