<section class="grid-container">
    <div class="tp-income-option small-2">
        Employee
    </div>
    <div class="tp-income-option small-2">
        Self Employed
    </div>
    <div class="tp-income-option small-2 grid-end">
        Rental Income
    </div>
    <div class="tp-income-option small-2">
        Commission
    </div>
    <div class="tp-income-option small-2">
        Universal Child Care Benefit
    </div>
    <div class="tp-income-option small-2">
        Employment Insurance
    </div>
    <div class="tp-income-option small-2">
        Capital Gains
    </div>
    <div class="tp-income-option small-2">
        RSP or RIF
    </div>
    <div class="tp-income-option small-2">
        Spousal Support Payments
    </div>
    <div class="tp-income-option small-2">
        Retired and/or Pension Income
    </div>
    <div class="tp-income-option small-2">
        Special Assistance Payments
    </div>
    <div class="tp-income-option small-2 grid-end">
        Investments
    </div>
    <div class="tp-income-option small-2">
        Scholarship/Bursary
    </div>
    <div class="tp-income-option small-2">
        None of the Above
    </div>
</section>