<section class="grid-container">
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Employee</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Self Employed</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Rental Income</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Commission</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Universal Child Care Benefit</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Employment Insurance</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Capital Gains</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">RSP or RIF</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Spousal Support Payments</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
       <span class="tax-profile-tile-label"> Retired and/or Pension Income</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Special Assistance Payments</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Investments</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Scholarship/ Bursary</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">None of the Above</span>
    </div>
</section>