<section class="grid-container">
    {{#each questions}}
        <div data-id="{{id}}" class="taxplan-tile i--icon-question-{{id}} {{#isActiveTile id ../activeTiles}}active{{/isActiveTile}}">
            {{#if instructions}}
                <div class="tax-profile-question-instructions i--icon-question" data-instructions="{{{instructions}}}"></div>
            {{/if}}
            <span class="taxplan-tile-label">{{text}}</span>
        </div>
    {{/each}}
</section>