<div class="modal-inner popup text-center quote-popup">
    <form id="modal-tax-profile-quote-form" class="add-margin-left add-margin-right add-right-padding add-left-padding">
        <h1 id="quote-modal-name" class="font-yellow">Quote Details - {{firstName}}</h1>
        <div class="add-bottom-margin add-bottom-padding add-top-margin add-top-padding">
            <p class="">{{{lineItems.description}}}</p>
            <p class="">{{{lineItems.notes}}}</p>
        </div>
        <a href="#!" class="green-button add-top-margin" title="Close this modal" data-close="Close" data-dismiss="modal" data>Got it!</a>
    </form>
</div>
<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>