<div class="modal-inner popup text-center">
    <form id="modal-tax-profile-quote-form">
        <p id="quote-modal-name">{{firstName}}</p>
        {{#each lineItems}}
            <div class="border-bottom-light-gray border-top-light-gray">
                <p class="line-item">${{price}}</p>
            </div>
        {{/each}}
        <a href="#!" class="green-button" title="Close this modal" data-close="Close" data-dismiss="modal" data>Got it!</a>
    </form>
</div>
<a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>