<section id="tax-profile-welcome" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7 content-form">
        <div class="container-header">
            <h1 class="header">Welcome to TAXplan</h1>
            <button type="submit" id="welcome-submit" class="green button-next">Next</button>
        </div>
    <form id="welcome-form">
        <p>
            <h1 class="subtitle">To start off we just need your first name…</h1>
        </p>
        <p>
            <label for="welcome-name">ENTER YOUR FIRST NAME</label>
            <input type="text" id="welcome-name" name="name" placeholder="First Name" value="{{name}}"/>
        </p>
    </form>
    </div>
    <div class="hide-for-small small-12 medium-5 grid-end white-container">
        <div>
            <img src="http://placehold.it/350x350">
            <h3 class="font-yellow">Hi tax pro</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam velit ut faucibus consequat. In hac habitasse platea dictumst. Proin at volutpat velit. Quisque congue varius nulla non aliquam. Integer condimentum dapibus ipsum, sit amet pharetra ligula aliquam sit amet. Praesent dui tortor, molestie et sodales non, vulputate in ligula. Curabitur nec justo tellus. Sed ac arcu porttitor, blandit sapien convallis, ultrices nisi. Duis aliquam iaculis nunc sed sodales. Phasellus cursus convallis scelerisque. Nulla consectetur, nunc at maximus tincidunt, mauris sapien vehicula libero, at bibendum metus dui ac magna. Donec tempus justo eu vestibulum dictum.
            </p>
        </div>
    </div>
</section>