#dashboard-chat-container{
  height: calc(100% - #{$header-height} - 110px); //whole height - header - text area height
  overflow-y: auto;
}

#dashboard-chat-message {
  outline: none;
  padding: 10px 15px;
  width: calc(100% - 118px);
  margin: 15px 20px 0px 0px;
  border-radius: 15px;
  border-color: $color-border-light-grey;
  resize: none;
  float: left;
}

.button-send{
  float: left;
  margin-top: 30px;
}

.label-message-content {
  padding: 20px;
  border-radius: 20px;
  float: right;
  vertical-align: middle;
  &.user{
    width: 100%;
    background: $color-global-yellow;
  }
  &.taxpro{
    width: 95%;
    background: $color-global-white;
    border: 2px solid $color-global-yellow;
  }
  &.taxplan{
    background: $color-global-white;
    border: 2px solid$color-message-taxplan-border;
  }
}

.label-message-date{
  display: table-cell;
  vertical-align: middle;
  width: 30%;
}

.chat-message{
  width:100%;
  overflow: auto;
  display:table;
  .i--icon-message-taxplan{
    height: 40px;
    width: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}