.chat-message {
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 15px;
  background: $color-global-white;
}

#dashboard-chat-container{
  height: calc(100% - #{$header-height} - 110px); //whole height - header - text area height
  overflow-y: auto;
}

.button-send{
  float: left;
  margin-top: 30px;
}

#dashboard-chat-message {
  outline: none;
  padding: 10px 15px;
  width: calc(100% - 118px);
  margin: 15px 20px 0px 0px;
  border-radius: 15px;
  border-color: $color-border-light-grey;
  resize: none;
  float: left;
}