#page-user-dashboard{
  .yellow-container{
    padding:0;
    min-height:calc(100% - #{$header-height});
  }
}


//TODO: Nich, clean up your sass classes and styles, please.
//left sidebar styles
//-----------------------------
.sidebar-menu-item{
  height:85px;
  cursor: pointer;
  @include unselectable;
  &.active, &:hover {
    background-color: $color-sidebar-dark-yellow;
    .i--icon-chat {
        background-image: url('public/assets/images/icons/icon-chat-white.png');
        background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2235%22%20height%3D%2236%22%20viewBox%3D%220%200%2035%2036%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%2035.526h34.947V.022H0z%22/%3E%3C/defs%3E%3Cg%20transform%3D%22translate%280%20.096%29%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M17.473%202.61C9.16%202.61%202.4%208.33%202.4%2015.36c0%204.068%202.02%207.608%205.687%209.965.512.33.722%201.015.494%201.61l-1.69%204.388%205.916-3.504c.252-.15.545-.197.826-.132%201.252.286%202.473.42%203.84.42%208.313%200%2015.076-5.72%2015.076-12.75S25.785%202.61%2017.473%202.61M4.47%2035.526c-.29%200-.576-.113-.802-.33-.38-.368-.502-.953-.306-1.46l2.617-6.792C2.113%2024.11%200%2020.034%200%2015.36c0-4.153%201.853-8.04%205.217-10.94C8.502%201.582%2012.855.02%2017.473.02s8.97%201.56%2012.257%204.397c3.364%202.9%205.217%206.787%205.217%2010.94%200%204.15-1.853%208.036-5.217%2010.94-3.286%202.834-7.64%204.395-12.257%204.395-1.38%200-2.63-.12-3.896-.38l-8.53%205.052c-.182.107-.38.16-.578.16%22%20fill%3D%22%23FFF%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3C/svg%3E');
    }
    .i--icon-upload {
        background-image: url('public/assets/images/icons/icon-upload-white.png');
        background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2235%22%20height%3D%2233%22%20viewBox%3D%220%200%2035%2033%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M34.98.114H0V26.02h34.98V.115z%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280%20.003%29%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M8.013%2011.112c-3.373%200-6.118%202.895-6.118%206.455S4.64%2024.02%208.013%2024.02H28.45c2.555%200%204.635-2.192%204.635-4.888%200-2.65-2.19-4.89-4.78-4.89-.29%200-.56-.138-.74-.375-.18-.237-.25-.547-.186-.844.136-.64.205-1.304.205-1.97%200-4.93-3.8-8.94-8.474-8.94-2.132%200-4.08.834-5.63%202.412-1.493%201.518-2.498%203.63-2.83%205.95-.005.035-.012.072-.02.106-.13.53-.64.85-1.144.72-.48-.125-.975-.188-1.473-.188m20.437%2014.91H8.013C3.595%2026.02%200%2022.227%200%2017.566c0-4.662%203.595-8.455%208.013-8.455.317%200%20.633.02.946.06.516-2.356%201.634-4.49%203.204-6.086C14.074%201.142%2016.477.114%2019.11.114c5.718%200%2010.37%204.908%2010.37%2010.94%200%20.43-.024.86-.07%201.285%201.333.234%202.573.89%203.572%201.908%201.288%201.312%201.997%203.046%201.997%204.884%200%203.798-2.93%206.89-6.53%206.89%22%20fill%3D%22%23FFF%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3Cpath%20d%3D%22M18.41%2032.343c-.522%200-.947-.448-.947-1v-15.86l-3.416%203.606c-.37.39-.97.39-1.34%200-.37-.392-.37-1.025%200-1.415l5.03-5.306c.086-.095.192-.17.31-.223.165-.07.34-.09.507-.065h.002c.002%200%20.002.002.003%200v.002c.017.002.034.006.05.01.173.04.336.13.467.265l.002.002v.002l5.017%205.292c.185.195.277.45.277.707%200%20.256-.092.512-.277.707-.37.39-.97.39-1.34%200l-3.4-3.586v15.86c0%20.55-.423%201-.946%201%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
    }
    .i--icon-return {
        background-image: url('public/assets/images/icons/icon-return-white.png');
        background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2228%22%20height%3D%2235%22%20viewBox%3D%220%200%2028%2035%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M13.996%2034.85h13.996V0H0v34.85h13.996z%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280%20.09%29%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M26.967%2034.88H1.027C.458%2034.88%200%2034.424%200%2033.86V1.05C0%20.486.46.03%201.026.03h19.142c.567%200%201.026.457%201.026%201.02%200%20.562-.46%201.018-1.026%201.018H2.052v30.774h23.89V7.802c0-.563.458-1.02%201.025-1.02.566%200%201.025.457%201.025%201.02v26.06c0%20.562-.46%201.018-1.025%201.018%22%20fill%3D%22%23FFF%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3Cpath%20d%3D%22M21.194%206.872V3.598l3.296%203.274h-3.296zm6.793.918c0-.015-.004-.03-.006-.043l-.007-.056-.013-.048c-.004-.016-.007-.032-.012-.047-.005-.017-.01-.032-.017-.048-.004-.016-.01-.03-.016-.046l-.02-.043-.023-.047c-.006-.014-.015-.027-.023-.04l-.027-.045-.033-.045-.027-.035c-.022-.026-.044-.05-.068-.075L20.894.42c-.024-.025-.05-.048-.076-.07-.01-.01-.023-.016-.034-.025-.016-.01-.03-.023-.046-.034-.015-.008-.03-.016-.043-.025L20.65.24c-.013-.008-.028-.014-.043-.02-.016-.01-.03-.016-.047-.023L20.516.18l-.05-.016-.044-.012c-.018-.004-.036-.01-.054-.012-.016-.004-.033-.006-.05-.008l-.05-.007c-.03-.003-.06-.004-.09-.005h-.02c-.03%200-.06.002-.09.005l-.05.007c-.016.002-.033.004-.05.008-.018.003-.036.008-.053.013l-.044.01-.05.018c-.015.007-.03.01-.044.017L19.73.22c-.015.006-.03.012-.045.02l-.043.025L19.6.29l-.048.035c-.01.01-.023.017-.034.026-.052.043-.1.09-.143.143l-.027.035-.033.045c-.01.014-.018.03-.027.044l-.025.04-.022.048-.02.044c-.006.014-.01.03-.017.045l-.016.048c-.005.015-.01.03-.013.047l-.012.05c-.004.018-.006.036-.008.055l-.007.043c-.003.034-.005.067-.005.1v6.753c0%20.563.46%201.02%201.026%201.02h6.8c.032%200%20.066-.002.1-.006.015%200%20.03-.004.045-.006l.054-.008c.017-.004.034-.01.05-.013.017-.004.032-.007.047-.012.017-.005.033-.01.05-.017l.045-.016.044-.02.046-.023.043-.026c.014-.01.03-.017.043-.026.016-.01.03-.022.046-.034l.035-.025c.052-.044.1-.092.143-.144.01-.01.017-.023.026-.035.012-.014.023-.028.034-.044.01-.014.018-.03.027-.044l.024-.04c.01-.016.016-.032.024-.048l.02-.044c.007-.015.012-.03.017-.046.007-.016.013-.03.018-.048.005-.015.008-.03.012-.046.005-.017.01-.033.013-.05l.008-.056c.003-.014.006-.028.007-.043.007-.066.007-.133%200-.2zM3.862%206.605h12.49c.568%200%201.027-.456%201.027-1.02%200-.56-.46-1.018-1.027-1.018H3.863c-.567%200-1.027.457-1.027%201.02%200%20.562.46%201.018%201.026%201.018M16.458%208.912H3.968c-.568%200-1.027.457-1.027%201.02%200%20.562.46%201.018%201.027%201.018h12.49c.568%200%201.027-.456%201.027-1.02%200-.56-.46-1.018-1.026-1.018M16.458%2013.257H3.968c-.568%200-1.027.457-1.027%201.02%200%20.562.46%201.018%201.027%201.018h12.49c.568%200%201.027-.456%201.027-1.02%200-.56-.46-1.018-1.026-1.018M11.23%2028.102V25.36c.727.164%201.173.59%201.322%201.15%200%20.87-.595%201.296-1.323%201.592zM9.36%2022.93c-.876-.28-1.454-.592-1.454-1.314%200-.87.578-1.265%201.455-1.413v2.726zm1.87.41v-2.99c.446.132.727.28%201.008.395%201.04.74%202.215-.87%201.04-1.708-.594-.426-1.32-.607-2.05-.738v-.396c0-1.46-1.867-1.46-1.867%200v.263c-1.735.263-3.322%201.166-3.488%203.022-.297%202.593%201.604%203.184%203.49%203.595v3.317c-.745-.148-1.456-.427-1.886-.723-.562-.412-1.19-.15-1.44.18-.296.394-.296%201.116.117%201.543.877.608%201.87%201.018%203.208%201.166v.262c0%201.46%201.87%201.46%201.87%200v-.41c1.917-.28%203.455-1.446%203.455-3.482%200-2.118-1.72-2.857-3.456-3.3z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
    }
    .label-sidebar-menu-item{
      color: $color-global-white;
    }
  }
  &.collapsed{
    padding-top: 15px;
  }
}

.label-sidebar-menu-item{
  display: inline-block;
  float: left;
  margin: 30px 10px 0px 10px;
  &.collapsed{
    font-size:0.9rem;
    display: block;
    float: none;
    text-align: center;
    margin: auto;
  }
}

.label-sidebar-messages-count {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  margin-top: 25px;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.icon-sidebar-item{
  height: 37px;
  width: 35px;
  display: inline-block;
  float: left;
  margin: 20px 0px 0px 10px;
  &.collapsed{
    height: 40px;
    width: 37px;
    display: block;
    float: none;
    margin: auto;
  }
}

//left sidebar icons
//-----------------------------
.i--icon-chat {
  background-image: url('public/assets/images/icons/icon-chat.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2235%22%20height%3D%2236%22%20viewBox%3D%220%200%2035%2036%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%2035.526h34.947V.022H0z%22/%3E%3C/defs%3E%3Cg%20transform%3D%22translate%280%20.096%29%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M17.473%202.61C9.16%202.61%202.4%208.33%202.4%2015.36c0%204.068%202.02%207.608%205.687%209.965.512.33.722%201.015.494%201.61l-1.69%204.388%205.916-3.504c.252-.15.545-.197.826-.132%201.252.286%202.473.42%203.84.42%208.313%200%2015.076-5.72%2015.076-12.75S25.785%202.61%2017.473%202.61M4.47%2035.526c-.29%200-.576-.113-.802-.33-.38-.368-.502-.953-.306-1.46l2.617-6.792C2.113%2024.11%200%2020.034%200%2015.36c0-4.153%201.853-8.04%205.217-10.94C8.502%201.582%2012.855.02%2017.473.02s8.97%201.56%2012.257%204.397c3.364%202.9%205.217%206.787%205.217%2010.94%200%204.15-1.853%208.036-5.217%2010.94-3.286%202.834-7.64%204.395-12.257%204.395-1.38%200-2.63-.12-3.896-.38l-8.53%205.052c-.182.107-.38.16-.578.16%22%20fill%3D%22%23424242%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3C/svg%3E');
  @include icon-helper;
}

.i--icon-upload {
  background-image: url('public/assets/images/icons/icon-upload.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2235%22%20height%3D%2233%22%20viewBox%3D%220%200%2035%2033%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M34.98.114H0V26.02h34.98V.115z%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280%20.003%29%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M8.013%2011.112c-3.373%200-6.118%202.895-6.118%206.455S4.64%2024.02%208.013%2024.02H28.45c2.555%200%204.635-2.192%204.635-4.888%200-2.65-2.19-4.89-4.78-4.89-.29%200-.56-.138-.74-.375-.18-.237-.25-.547-.186-.844.136-.64.205-1.304.205-1.97%200-4.93-3.8-8.94-8.474-8.94-2.132%200-4.08.834-5.63%202.412-1.493%201.518-2.498%203.63-2.83%205.95-.005.035-.012.072-.02.106-.13.53-.64.85-1.144.72-.48-.125-.975-.188-1.473-.188m20.437%2014.91H8.013C3.595%2026.02%200%2022.227%200%2017.566c0-4.662%203.595-8.455%208.013-8.455.317%200%20.633.02.946.06.516-2.356%201.634-4.49%203.204-6.086C14.074%201.142%2016.477.114%2019.11.114c5.718%200%2010.37%204.908%2010.37%2010.94%200%20.43-.024.86-.07%201.285%201.333.234%202.573.89%203.572%201.908%201.288%201.312%201.997%203.046%201.997%204.884%200%203.798-2.93%206.89-6.53%206.89%22%20fill%3D%22%23424242%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3Cpath%20d%3D%22M18.41%2032.343c-.522%200-.947-.448-.947-1v-15.86l-3.416%203.606c-.37.39-.97.39-1.34%200-.37-.392-.37-1.025%200-1.415l5.03-5.306c.086-.095.192-.17.31-.223.165-.07.34-.09.507-.065h.002c.002%200%20.002.002.003%200v.002c.017.002.034.006.05.01.173.04.336.13.467.265l.002.002v.002l5.017%205.292c.185.195.277.45.277.707%200%20.256-.092.512-.277.707-.37.39-.97.39-1.34%200l-3.4-3.586v15.86c0%20.55-.423%201-.946%201%22%20fill%3D%22%23424242%22/%3E%3C/g%3E%3C/svg%3E');
  @include icon-helper;
}

.i--icon-return {
  background-image: url('public/assets/images/icons/icon-return.png');
  background-image: linear-gradient(transparent, transparent), url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2228%22%20height%3D%2235%22%20viewBox%3D%220%200%2028%2035%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Ctitle%3EPage%201%3C/title%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M13.996%2034.85h13.996V0H0v34.85h13.996z%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%280%20.09%29%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22/%3E%3C/mask%3E%3Cpath%20d%3D%22M26.967%2034.88H1.027C.458%2034.88%200%2034.424%200%2033.86V1.05C0%20.486.46.03%201.026.03h19.142c.567%200%201.026.457%201.026%201.02%200%20.562-.46%201.018-1.026%201.018H2.052v30.774h23.89V7.802c0-.563.458-1.02%201.025-1.02.566%200%201.025.457%201.025%201.02v26.06c0%20.562-.46%201.018-1.025%201.018%22%20fill%3D%22%23424242%22%20mask%3D%22url%28%23b%29%22/%3E%3C/g%3E%3Cpath%20d%3D%22M21.194%206.872V3.6L24.49%206.87h-3.296zm6.793.918c0-.014-.004-.028-.006-.043l-.007-.055-.013-.05-.012-.047c-.005-.016-.01-.032-.017-.047-.004-.016-.01-.032-.016-.047l-.02-.043-.023-.046c-.006-.013-.015-.027-.023-.04l-.027-.044c-.01-.016-.022-.03-.033-.045-.01-.01-.018-.023-.027-.035-.022-.026-.044-.05-.068-.075L20.894.42c-.024-.025-.05-.047-.076-.07l-.034-.024c-.016-.012-.03-.024-.046-.034l-.043-.026c-.015-.01-.03-.017-.044-.025l-.043-.02c-.016-.008-.03-.016-.047-.022l-.044-.016c-.016-.006-.033-.013-.05-.018l-.044-.01-.054-.014-.05-.007-.05-.008c-.03-.002-.06-.004-.09-.004h-.02c-.03%200-.06.003-.09.005l-.05.008-.05.007c-.018.004-.036.01-.053.013l-.044.01-.05.02c-.015.004-.03.01-.044.015l-.046.02-.045.023-.043.026-.043.026c-.017.01-.032.022-.048.034l-.034.025c-.052.044-.1.092-.143.144-.01.01-.018.023-.027.035-.01.014-.023.028-.033.044-.01.014-.018.03-.027.044l-.025.04-.022.047-.02.044c-.006.014-.01.03-.017.045l-.016.048c-.005.016-.01.032-.013.047l-.012.05c-.004.018-.006.037-.008.055l-.007.044c-.003.032-.005.066-.005.1v6.75c0%20.564.46%201.02%201.026%201.02h6.8c.032%200%20.066-.002.1-.005l.045-.007c.018-.002.036-.004.054-.008.017-.003.034-.008.05-.012.017-.004.032-.007.047-.012.017-.005.033-.01.05-.017.015-.007.03-.01.045-.018l.044-.02.046-.022.043-.025c.014-.01.03-.017.043-.027.016-.01.03-.022.046-.033l.035-.026c.052-.044.1-.09.143-.143l.026-.035.034-.045.027-.044c.008-.014.017-.027.024-.042.01-.014.016-.03.024-.045l.02-.044c.007-.014.012-.03.017-.045l.018-.048c.005-.015.008-.03.012-.047.005-.016.01-.033.013-.05l.008-.055c.003-.014.006-.03.007-.043.007-.067.007-.135%200-.202zM3.862%206.606h12.49c.568%200%201.027-.457%201.027-1.02%200-.562-.46-1.018-1.027-1.018H3.863c-.567%200-1.027.456-1.027%201.02%200%20.56.46%201.018%201.026%201.018M16.458%208.913H3.968c-.568%200-1.027.456-1.027%201.02%200%20.562.46%201.018%201.027%201.018h12.49c.568%200%201.027-.455%201.027-1.018s-.46-1.02-1.026-1.02M16.458%2013.258H3.968c-.568%200-1.027.456-1.027%201.02%200%20.562.46%201.018%201.027%201.018h12.49c.568%200%201.027-.456%201.027-1.02%200-.562-.46-1.018-1.026-1.018M11.23%2028.102V25.36c.727.164%201.173.59%201.322%201.15%200%20.87-.595%201.297-1.323%201.592zM9.36%2022.93c-.876-.28-1.454-.59-1.454-1.314%200-.87.578-1.264%201.455-1.412v2.726zm1.87.41v-2.988c.446.13.727.28%201.008.394%201.04.74%202.215-.87%201.04-1.708-.594-.427-1.32-.607-2.05-.74v-.393c0-1.46-1.867-1.46-1.867%200v.263c-1.735.263-3.322%201.166-3.488%203.02-.297%202.596%201.604%203.187%203.49%203.597v3.317c-.745-.148-1.456-.427-1.886-.722-.562-.41-1.19-.148-1.44.18-.296.394-.296%201.117.117%201.544.877.607%201.87%201.018%203.208%201.166v.262c0%201.462%201.87%201.462%201.87%200v-.41c1.917-.28%203.455-1.445%203.455-3.48%200-2.12-1.72-2.858-3.456-3.302z%22%20fill%3D%22%23424242%22/%3E%3C/g%3E%3C/svg%3E');
  @include icon-helper;
}

.i--icon-get-app {
  background-image: url('public/assets/images/icons/icon-get-app.png');
  background-image: linear-gradient(transparent, transparent),url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2227%22%20height%3D%2250%22%20viewBox%3D%220%200%2027%2050%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Ctitle%3EGroup%3C/title%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22%235C5C5C%22%3E%3Cpath%20d%3D%22M19.44%2046.284H7.482c-2.226%200-4.105-1.62-4.68-3.825h21.314c-.573%202.203-2.453%203.824-4.678%203.824zM7.482%203.044H19.44c2.224%200%204.104%201.62%204.677%203.825H2.804c.574-2.205%202.453-3.826%204.68-3.826zm-4.86%2036.588H24.3V9.696H2.622v29.936zM19.44.217H7.482C3.357.217%200%203.835%200%208.282v32.764c0%204.447%203.357%208.064%207.483%208.064H19.44c4.125%200%207.482-3.617%207.482-8.064V8.282c0-4.447-3.357-8.065-7.483-8.065z%22/%3E%3Cpath%20d%3D%22M11.31%206.827h3.594c.725%200%201.312-.633%201.312-1.414%200-.78-.587-1.413-1.312-1.413H11.31C10.588%204%2010%204.633%2010%205.413s.587%201.414%201.31%201.414M14.904%2043H11.31c-.723%200-1.31.633-1.31%201.413s.587%201.414%201.31%201.414h3.594c.725%200%201.312-.633%201.312-1.414%200-.78-.587-1.413-1.312-1.413%22/%3E%3C/g%3E%3Cpath%20stroke%3D%22%235C5C5C%22%20stroke-width%3D%223%22%20d%3D%22M18.638%2020l-7.088%207.707L8%2023.847%22/%3E%3C/g%3E%3C/svg%3E');
  @include icon-helper;
}


//dashboard containers' styles
//-----------------------------
#container-dashboard-sidekick-ad{
  background: white;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin: 100px 20px 0px 20px;
  .i--icon-get-app{
    display: inline-block;
    height: 50px;
    width: 20%;
    &.collapsed{
      width:40%;
    }
  }
  .label-sidekick-blurb{
    display: inline-block;
    width: 75%;
    text-align: left;
  }
  &.collapsed{
    padding:5px;
    background: white;
    border-radius: 20px;
    text-align: center;
    margin: 100px 5px 0px 5px;
  }
}

#container-dashboard-welcome{
  background: white;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin: 20px 30px 0px 0px;
  .i--icon-logo{
    height:40px;
  }
  .label-welcome{
    width:60%;
  }
}

#container-dashboard-taxpro{
  background: white;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin: 20px 30px 0px 0px;
 .i--icon-message-taxplan{
   display: inline-block;
   float: left;
   height: 80px;
   width: 30%;
 }
}

#container-collapsed-sidebar{
  padding: 0px;
  display: inline-block;
  width: 5%;
  float: left;
  &.checklist-items{
    display: inline-block;
    width: 80%;
    height: 100%;
    background: white;
    float: left;
  }
}

.container-taxpro-introduction{
  margin: 0px;
  height: 80px;
  width: 60%;
  float: left;
  text-align: left;
  margin-left: 10px;
  .label-introduction-line{
    font-size: 0.5rem;
  }
  .label-introduction-name{
    font-size: 1.2rem;
  }
  .description-symbol{
    font-size: 1.7rem;
  }
}

.label-taxpro-description{
  margin-top: 100px;
  display: block;
  text-align: left;
  padding: 5px;
}

#container-dashboard-side-info-description{
 margin: 200px 35px 0px 35px;
}


