#container-return-line-items{
  margin: 50px 50px 80px 50px;
}

#container-pay-line-items{
  margin: 50px 0px 80px 50px;
}

.return-line-item{
  height:70px;
}

.return-line-item-name{
  font-size: 1.2vw;
  margin: 0;
  max-width: 50%;
  width: 35%;
}

.pay-line-item-name{
  font-size: 1.4vw;
  max-width: 50%;
  margin: 15px 0px 0px 0px;
}

.label-total{
  font-size: 3.5vw;
}

.return-line-item-description{
  font-size: 0.8vw;
  width: 15%;
}

.label-tax-return-blurb{
  width: 50%;
  margin: auto;
  text-align: center;
}

