#container-return-line-items{
  margin: 50px 80px 90px 80px;
}

.return-line-item{
  height:70px;
}

.return-line-item-name{
  font-size: 1.2vw;
  margin: 0;
  width: 35%;
}

.return-line-item-description{
  font-size: 0.8vw;
  width: 15%;
}

.label-tax-return-blurb{
  width: 50%;
  margin: auto;
  text-align: center;
}

