//TODO: Nich, just make y-scrollable helper, please

#dashboard-upload{
  height:100%;
  overflow-y: auto;
}

#dashboard-document-preview{
  height:100%;
  overflow-y: auto;
}


#dashboard-upload-input {
  height: 0;
  width: 0;
  overflow: hidden;
  border: none;
  min-width: 0;
}

.label-instruction-header{
  width:40%;

  &.date-uploaded{
    width:15%;
  }
}

#dashboard-upload-form{
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 20px;
  border: 3px dashed $color-border-light-grey;
  .label-instruction-upload{
    font-size:1.7rem;
  }
  
  &.hover{
    border: 3px dashed $color-global-yellow;
  }
}

#container-upload-explained{
  width: 50%;
  text-align: center;
  margin: 50px auto;
}

#container-checklist-header-cell{
  height:85px;
  border-top: 1px solid $color-border-light-grey;
  border-bottom: 1px solid $color-border-light-grey;
  .label-checklist-header{
    display: inline-block;
    float: left;
    font-size: 1vw;
    margin: 30px 5px;
  }
  .i--icon-printer{
    height: 30px;
    width: 30px;
    float: right;
    margin: 25px 5px;
  }
}

#dashboard-upload-checklist{
  padding:0px;
  background: $color-global-white;
  height:100%;
  overflow-y: auto;
}

.upload-checklist-item {
  height: 65px;
  padding: 15px 5px 5px 5px;
  border-bottom: 1px solid $color-border-light-grey;
  position: relative;
  cursor: pointer;
  &.active{
    background: $color-global-yellow;
  }
}

.i--icon-right-arrow{
  height: 20px;
  width: 12px;
  margin: 5px 10px 0px 0px;
}

.label-document-count{
  right: 10px;
  float: right;
  font-size: 0.7vw;
  margin: 0px 5px 0 0;
  padding: 5px;
  background: $color-global-purple;
  border-radius: 10px;
  color: white;
}

.label-document-name{
  font-size: calc(10px + 0.5vw);
  max-width:65%;
}

.label-document-name-header{
  font-size: 2.5rem;
  max-width: 70%;
  margin: 15px 0px 0px 10px;
  overflow-x: auto;
  word-wrap: break-word;
}

.label-document-filers{
  color:$color-global-red;
}

.label-activeItem-name{
  text-align: left;
  font-size: 2rem;
}

.label-activeItem-subtitle{
  font-size:1.1rem;
}


#container-document-tile{
  position: relative;
  display: inline-block;
  width: 218px;
  height: 282px;
  margin-right: 20px;
  vertical-align: top;
  background: $color-global-white;
  .i--icon-red-x{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    height:35px;
    width:35px;
  }
  .i--icon-garbage-can{
    display: inline-block;
    position: absolute;
    right: -10;
    bottom: -10;
    height: 35px;
    width: 35px;
  }
  .fa {
    font-size: 5rem;
    text-align: center;
    margin: 50px auto;
    display: block;
  }
}

#container-document-tile-info{
  text-align: center;
  height:115px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-global-white;
  .label-uploaded-info{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .label-document-tile-name{
    margin-top: 15px;
    color: $color-text-teal;
    font-size: 1rem;
    width: 100%;
    word-wrap: break-word;
    overflow-y: hidden;
    height: 40px;
  }
}

.i--icon-green-check{
  display: inline-block;
  margin: 10px 10px 0px 0px;
  float: left;
  height:46px;
  width:46px;

  &.float-right{
    float: right;
    margin-left: 30px;
  }
}

#button-close-preview{
    display: inline-block;
    margin: 20px 10px 0px 0px;
    float: right;
    height:46px;
    width:46px;
}

.i--icon-return-machine{
  height:250px;
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #88AC60;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  display:inline-block;
  margin: 5px 10px 0px 0px;
  float: left;
  box-shadow: inset 0px 0px 0px #88AC60;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #88AC60;
  }
}

.i--icon-question{
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.checklist-description-button-container{
  position: absolute;
  width: 100%;
  bottom: 30px;
}