#dashboard-upload-input {
  height: 0;
  width: 0;
  overflow: hidden;
  border: none;
  min-width: 0;
}

.label-instruction-header{
  width:44%;
}

.upload-checklist-item {
  margin: 10px 0;
  border: 1px solid grey;
}