#dashboard-upload-input {
  height: 0;
  width: 0;
  overflow: hidden;
  border: none;
  min-width: 0;
}

.label-instruction-header{
  width:44%;
}

#container-upload-explained{
  width: 50%;
  text-align: center;
  margin: 50px auto;
}