//TODO: Nich, just make y-scrollable helper, please

#dashboard-upload{
  height:100%;
  overflow-y: auto;
}

#dashboard-document-preview{
  height:100%;
  overflow-y: auto;
}


#dashboard-upload-input {
  height: 0;
  width: 0;
  overflow: hidden;
  border: none;
  min-width: 0;
}

.label-instruction-header{
  width:30%;
}

#dashboard-upload-form{
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 20px;
  border: 3px dashed $color-border-light-grey;
  .label-instruction-upload{
    font-size:1.7rem;
  }
}

#container-upload-explained{
  width: 50%;
  text-align: center;
  margin: 50px auto;
}

#container-checklist-header-cell{
  height:85px;
  border-top: 1px solid $color-border-light-grey;
  border-bottom: 1px solid $color-border-light-grey;
  .label-checklist-header{
    display: inline-block;
    float: left;
    font-size: 1vw;
    margin: 30px 5px;
  }
  .i--icon-printer{
    height: 30px;
    width: 30px;
    float: right;
    margin: 25px 5px;
  }
}

#dashboard-upload-checklist{
  padding:0px;
  background: $color-global-white;
  height:100%;
  overflow-y: auto;
}

.upload-checklist-item {
  height: 60px;
  padding: 15px 5px 5px 5px;
  border-bottom: 1px solid $color-border-light-grey;
  position: relative;

  &.active, &:hover{
    background: $color-global-yellow;
  }
}

.i--icon-right-arrow{
  height: 20px;
  width: 12px;
  margin: 5px 10px 0px 0px;
}

.label-document-count{
  right: 10px;
  bottom: 10px;
  position: absolute;
  padding: 5px;
  background: $color-global-purple;
  border-radius: 10px;
  color: white;
}

.label-document-name{
  font-size:1.1vw;
}

.label-document-name-header{
  font-size: 2.5rem;
  margin: 15px 0px 0px 10px;
}

.label-document-filers{
  color:$color-global-red;
}

.label-activeItem-name{
  text-align: left;
  font-size: 2rem;
}

.label-activeItem-subtitle{
  font-size:1.1rem;
}


#container-document-tile{
  position: relative;
  display: inline-block;
  width: 218px;
  height: 282px;
  vertical-align: top;
  background: $color-global-white;
  .i--icon-red-x{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    height:35px;
    width:35px;
  }
}

#container-document-tile-info{
  text-align: center;
  height:115px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-global-white;
  .label-uploaded-info{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }
  .label-document-tile-name{
    margin-top:25px;
    color: $color-text-teal;
  }
}

.i--icon-green-check{
  display: inline-block;
  margin: 10px 10px 0px 0px;
  float: left;
  height:46px;
  width:46px;

  &.float-right{
    float: right;
    margin-left: 30px;
  }
}

#button-close-preview{
    display: inline-block;
    margin: 20px 10px 0px 0px;
    float: right;
    height:46px;
    width:46px;
}

.i--icon-return-machine{
  height:250px;
}
