header {
  height: 80px;
}

.text-contact{
  display: inline-block;
  float: right;
  color:#B9B9B9;
  font-size: 14px;
  padding:15px;
}

.dev-nav{
  display: inline-block;
}

.image-logo{
  width: 10%;
  margin: 20px;
  display: inline-block;
}