header {
  height: 80px;
  .i--icon-logo {
    height: 40px;
    width: 180px;
    margin: 20px;
    display: inline-block;
  }
}

.text-contact{
  display: inline-block;
  float: right;
  color:$color-header-lightgrey;
  font-size: 14px;
  padding: 15px;
}

.dev-nav{
  display: inline-block;
}