/*

These main styles are the globalized foundation for the theme and are often what need to be overwritten by localized changes

Use helper classes to style elements that otherwise wouldn't need to have a full declaration or that are one-off occurrences

*/

//main styles
//-----------------------------
$header-height: 85px;

* {
  @extend .f--futura-heavy;
  color: $color-global-text-grey;
  &.font-yellow{
    color: $color-global-yellow;
  }
  &.font-light-grey{
    color: $color-text-light-grey;
  }
}

img {
  max-width: 100%;
}

input {
  background: white;
  border:0;
  border-bottom-color: $color-global-border-grey;
  border-bottom: 1px solid;
  outline: 0;
  height:50px;
  min-width: 50%;
  display:inline-block;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
  &.login{
    min-width: 98%;
  }
  &.small{
    @extend .small-2;
    @extend .text-center;
    min-width: 10%;
  }
}

button {
  @include transition-with-defaults(opacity);
  .disabled {
    opacity: 0.6;
  }
  &.green{
    background: $color-global-green;
  }
  &.grey{
    background: $color-global-mid-grey;
  }
  &.header{
    float:right;
    margin:10px;
  }
  border-radius: 30px;
  color: white;
  width:120px;
  height:43px;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 12px;
  outline:none;
  &.long{
    width:240px;
  }
  &.short{
    width:98px;
  }
  &.green-outline{
    color: $color-global-green;
    background: transparent;
    border: 1px solid $color-global-green;
    width:90px;
    height:25px;
  }
}

button:active{
  background:grey;
}

label{
  font-size: 14px;
  font-weight: bold;
  color: $color-global-text-grey;
  display:block;
  padding-bottom: 7px;
  &.under{
    padding-top: 30px;
  }
}

h1{
  @extend .text-center;
  font-size: 24px;
  &.subtitle{
    text-align: left;
    font-weight:bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &.header{
    display:inline-block;
  }
}

textarea {
  width: 100%;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
}

p{
  &.side-info{
    font-size: 0.9rem;
    @extend .f--futura-book;
  }
  &.checkbox-label{
    display: inline-block;
    margin: 0px;
    padding: 5px 10px;
  }
}


//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}

.horizontal-center{
  margin: 0 auto;
}

//typography
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

//border classes
//-----------------------------
.border-top-light-gray{
  border-top: 1px solid $color-global-shadow;
}

.border-bottom-light-gray{
  border-bottom: 1px solid $color-global-shadow;
}

.border-bottom-dark-grey{
  border-bottom: 1px solid $color-global-border-grey;
}

.border-none{
  border: 0 none;
}

//custom checkbox
//-----------------------------
.checkbox {
  background-color: $color-checkbox-bg;
  display:inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid $color-global-green;
  border-radius: 5px;
  margin: 5px;
  float: left;
  cursor: pointer;
  @include unselectable;
  &.active, &:hover {
    background-color: $color-global-green;
    @extend .i--icon-check;
  }
}

//background colours
//-----------------------------
.main-container{
  background: $color-global-bg;
  position: relative;
  min-height:calc(100% - #{$header-height});
}

.yellow-container{
  background: $color-global-yellow;
  height:100%;
}

.white-container{
  background: white;
  height:100%;
}

.container-header{
  @extend .border-bottom-dark-grey;
}

//content padding
//-----------------------------
.content-form{
  margin-left:20px;
}

.wrapper-container{
  margin-top: 235px;
  &.marketing{
    margin-top: 400px;
  }
  &.side-info{
    margin-top: 40%;
    margin-left: 15%;
    margin-right: 15%;
    @extend .text-center;
    &.has-image{
      margin-top: 10%;
    }
  }
}


//visibility
//-----------------------------
.hide-for-small {
  @include mobile {
    display: none;
  }
}
.hide-for-medium {
  @include tablet {
    display: none;
  }
}
.hide-for-medium-up {
  @include tablet-up {
    display: none;
  }
}
.hide-for-large {
  @include desktop {
    display: none;
  }
}
