/*

These main styles are the globalized foundation for the theme and are often what need to be overwritten by localized changes

Use helper classes to style elements that otherwise wouldn't need to have a full declaration or that are one-off occurrences

*/

//main styles
//-----------------------------

* {
  font-family: FuturaMedium, Arial, sans-serif;
  color: #787878;
}

img {
  max-width: 100%;
}

input {
  background: white;
  border:0;
  border-bottom-color: #5C5C5C;
  border-bottom: 1px solid;
  outline: 0;
  height:40px;
  min-width: 50%;
  display:inline-block;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
}

button {
  @include transition-with-defaults(opacity);
  .disabled {
    opacity: 0.6;
  }
  &.green{
    background: #88AC60;
  }
  &.grey{
    background: #5C5C5C;
  }
  border-radius: 20px;
  color: white;
  padding: 10px 45px;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 12px;
}

label{
  font-size: 14px;
  font-weight: bold;
  color: #5C5C5C;
  display:block;
  padding-bottom: 7px;
}


//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}


//typography
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

//background colours
//-----------------------------
.main-container{
  background: #F5F3F1;
  height:100%;
}

.yellow-container{
  background: #FFCB3B;
  height:100%;
}




//visibility
//-----------------------------
.hide-for-small {
  @include mobile {
    display: none;
  }
}
.hide-for-medium {
  @include tablet {
    display: none;
  }
}
.hide-for-medium-up {
  @include tablet-up {
    display: none;
  }
}
.hide-for-large {
  @include desktop {
    display: none;
  }
}
