/*

These main styles are the globalized foundation for the theme and are often what need to be overwritten by localized changes

Use helper classes to style elements that otherwise wouldn't need to have a full declaration or that are one-off occurrences

*/

//main styles
//-----------------------------
$header-height: 65px;
$header-text-size: 1.5vw;

* {
  @extend .f--futura-heavy;
  color: $color-global-text-grey;
  &.font-yellow{
    color: $color-global-yellow;
  }
  &.font-light-grey{
    color: $color-text-light-grey;
  }
  &.font-green{
    color: $color-global-green;
  }
  &.font-red{
    color: $color-global-red;
  }
  &.font-sidebar-dark-grey{
    color: $color-sidebar-text-dark-grey;
  }
  &.label-message-date{
    color: $color-message-date;
  }
}

img {
  max-width: 100%;
}

input {
  background: white;
  border:0;
  border-bottom: 1px solid $color-global-border-grey;
  outline: 0;
  height:50px;
  min-width: 50%;
  display:inline-block;
  padding-left:15px;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
    background-color:rgba(255,0,0,0.3);
  }
  &.login{
    min-width: 98%;
  }
  &.small{
    @extend .small-2;
    min-width: 10%;
  }
  &.inline-input{
    width: 100%;
  }
  &.password{
    font-family: Verdana,sans-serif;
  }
  &.capitalize{
    text-transform: capitalize;
  }
}


button, .button {
  @include transition-with-defaults(opacity);
  &.disabled {
    opacity: 0.6;
  }
  &.green{
    background: $color-global-green;
  }
  &.grey{
    background: $color-global-mid-grey;
  }
  &.purple{
    background: $color-global-purple;
  }
  &.header{
    float:right;
    margin:10px;
  }
  border-radius: 30px;
  color: white;
  width:120px;
  height:43px;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 14px;
  outline:none;
  &.long{
    width:15vw;
  }
  &.short{
    width:98px;
  }
  &.green-outline{
    color: $color-global-green;
    background: transparent;
    border: 1px solid $color-global-green;
    width:90px;
    height:25px;
  }
}

.green-button{
  border-radius: 30px;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 12px;
  outline:none;
  background: $color-global-green;
}

.grey-button{
  border-radius: 30px;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 12px;
  outline:none;
  background: $color-global-mid-grey;
}

button:active{
  background:grey;
}

label{
  font-size: 14px;
  font-weight: bold;
  color: $color-global-text-grey;
  display:block;
  padding-bottom: 7px;
  &.under{
    padding-top: 30px;
  }
}

h1{
  text-align: center;
  font-size: 24px;
  &.subtitle{
    text-align: left;
    font-weight:bold;
    padding-top: 20px;
    margin-bottom: 40px;
  }
  &.filer-name{
    text-transform: capitalize;
    text-align: left;
    font-weight:bold;
  }
  &.header{
    display:inline-block;
  }
}

textarea {
  width: 100%;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
}

//TODO: Nich, Clean this
.side-info-blurb{
    font-size: 1.1rem;
  &.bigger{
    font-size:1.1rem;
  }
    @extend .f--futura-book;
}

.checkbox-label{
    width: 50%;
    display: inline-block;
    margin: 0px;
    padding: 5px 10px;
}

.label-error{
  margin:0;
  font-size:1vw;
  color: transparent;
  &.error{
    color:$color-global-red;
  }
}

.button-more-container{
  position:fixed;
  bottom:0px;
  width:100%;

}

.button-more{
  height: 40px;
  width: 140px;
  margin: 0px auto;
  background: $color-global-purple;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  .label-more{
    position: absolute;
    margin: 10px 30px;
    color: white;
  }
  .i--icon-right-arrow{
    transform: rotate(90deg);
    margin: 10px 100px;
    position: absolute;
  }
}

//Dropdown styling
//-----------------------------
.drop-down {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 100%;
  background: white;
}

//Dropdown select element styling
.drop-down-select {
  position: relative;
  width: 95%;
  margin-left:5px;
  height: 50px;
  text-shadow: 0 1px white;
  background: rgba(0, 0, 0, 0) !important; //"transparent" doesn't work with older Chrome versions/Safari?
  border: 0;
  border-radius: 0;
  outline:none;
}

//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}

.hidden {
  display: none!important;
}

.horizontal-center{
  margin: 0 auto;
}

.clear-both {
  clear: both;
}

//typography
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.font-header-size{
  font-size:$header-text-size;
}

.capitalize{
  text-transform: capitalize;
}

//border classes
//-----------------------------
.border-top-light-gray{
  border-top: 1px solid $color-global-shadow;
}

.border-bottom-light-gray{
  border-bottom: 1px solid $color-global-shadow;
}

.border-bottom-dark-grey{
  border-bottom: 1px solid $color-global-border-grey;
}

.border-left-dark-grey{
  border-left: 1px solid $color-global-border-grey;
}

.border-right-dark-grey{
  border-right: 1px solid $color-global-border-grey;
}

.border-none{
  border: 0 none;
}

//custom checkbox
//-----------------------------
.checkbox {
  background-color: $color-checkbox-bg;
  display:inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 2px solid $color-global-green;
  border-radius: 5px;
  margin: 5px;
  float: left;
  cursor: pointer;
  @include unselectable;
  &.active {
    background-color: $color-global-green;
    @extend .i--icon-check;
    }
  }

.checkbox-container {
  cursor: pointer;
}

//background colours
//-----------------------------
.main-container{
  background: $color-global-bg;
  position: relative;
  overflow-y: auto;
  min-height:100%;
  height:100%;
  @extend .add-padding-for-header;
}

.main-container-no-padding{
  background: $color-global-bg;
  position: relative;
  overflow-y: auto;
  min-height:100%;
}

.yellow-container{
  background: $color-global-yellow;
  min-height:100%;
  height:100%;
}

#dashboard-chat{
  height:100%;
}

.white-container{
  background: white;
  min-height:100%;
}

.container-header{
  border-bottom: 1px solid $color-global-border-grey;
}

//content padding
//-----------------------------
.content-form{
  margin-left:20px;
  margin-top: 80px;
}

.wrapper-container{
  margin-top: 235px;
  &.marketing{
    margin-top: 300px;
    margin-left: 130px;
    margin-right: 130px;
  }
  &.side-info{
    margin-top: 300px;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    &.has-image{
      margin-top: 60px;
    }
  }
}

.container-inline-input{
  display: inline-block;
  margin-right:10px;
  &.short{
    width: 14%;
  }
  &.long{
    width: 46%;
  }
}

.container-small-button{
  float:right;
  margin-top:10px;
}

.no-margin{
  margin: 0;
}

.no-margin-bottom{
  margin-bottom: 0;
}

.add-bottom-padding{
  padding-bottom: 20px;
}

.add-top-padding{
  padding-top: 20px;
}

.add-left-padding{
  padding-left: 20px;
}

.add-right-padding{
  padding-right: 20px;
}

.add-bottom-margin{
  margin-bottom: 20px;
}

.add-top-margin{
  margin-top: 20px;
}

.add-margin-left{
  margin-left: 10px;
}

.add-margin-right{
  margin-right: 10px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

.full-width{
  width:100%;
}

.full-height{
  height:100%;
}

.overflow-y-auto{
  overflow-y: auto;
}

.display-inline-table{
  display:inline-table;
}

//TODO: Nich, clean up your inline-blocks with helper, please
.display-inline-block{
  display:inline-block;
}

.line{
  width: calc(100% - 76px);
  height: 1px;
  background: $color-global-border-grey;
}

.rounded{
  border-radius:50%;
}

//visibility
//-----------------------------
.hide-for-small {
  @include mobile {
    display: none;
  }
}
.hide-for-medium {
  @include tablet {
    display: none;
  }
}
.hide-for-medium-up {
  @include tablet-up {
    display: none;
  }
}
.hide-for-large {
  @include desktop {
    display: none;
  }
}

//modal
//------------------------------
#modal-tax-profile-quote-form{
  .i--icon-taxplan-logo{
    height: 70px;
    margin-top: 50px;
  }
}
.modal-close:after{
  display: none;
}

.modal-content{
  border:none;
}

.popup{
  border-radius: 20px     !important;
  height: 300px;
  width: 300px            !important;
  display: block;
  position: absolute      !important;
  margin: auto 0          !important;
  top: calc(50% - 150px)  !important;
  left: calc(50% - 150px) !important;
  &.checklist-popup{
    height: 300px;
    width: 400px          !important;
    top: calc(50% - 150px)  !important;
    left: calc(50% - 200px) !important;
  }

  &.quote-popup{
    height: 400px;
    width: 400px          !important;
    top: calc(50% - 200px)  !important;
    left: calc(50% - 200px) !important;
  }

  &.delete-popup{
    height: 200px;
    width: 300px          !important;
    top: calc(50% - 100px)  !important;
    left: calc(50% - 150px) !important;
  }

  &.migrated{
    height: 350px;
    width: 400px          !important;
    top: calc(50% - 225px)  !important;
    left: calc(50% - 200px) !important;
  }
}

.label-popup-header{
  color:$color-global-red;
  font-size: 1.4rem;
}

//fixed styling classes
//--------------------------------
.fixed-header{
  position: fixed;
  height: $header-height;
  z-index: 4;
  width: 100%;
  background: white;
}

.add-padding-for-header{
  padding-top: $header-height;
}

.fixed-page-header{
  position: fixed;
  background: $color-global-bg;
  z-index: 3;
  border-bottom:1px solid $color-global-border-grey;
  margin-left:20px;
  @extend .small-12, .medium-7;
}

.fixed-upload-header{
  position: fixed;
  background: $color-global-bg;
  width: 77%;
  z-index: 3;
}

.fixed-progress-bar{
  position: fixed;
  margin-top: $header-height;
  z-index: 5;
}

.position-fixed{
  position:fixed;
}

.i--icon-alert{
  height:82px;
  width:68px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}