/*

These main styles are the globalized foundation for the theme and are often what need to be overwritten by localized changes

Use helper classes to style elements that otherwise wouldn't need to have a full declaration or that are one-off occurrences

*/

//main styles
//-----------------------------

* {
  font-family: FuturaMedium, Arial, sans-serif;
  color: $color-global-text-grey;
  &.font-yellow{
    color: $color-global-yellow;
  }
}

img {
  max-width: 100%;
}

input {
  background: white;
  border:0;
  border-bottom-color: $color-global-border-grey;
  border-bottom: 1px solid;
  outline: 0;
  height:40px;
  min-width: 50%;
  display:inline-block;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
  &.login{
    min-width: 98%;
  }
}

button {
  @include transition-with-defaults(opacity);
  .disabled {
    opacity: 0.6;
  }
  &.green{
    background: $color-global-green;
  }
  &.grey{
    background: $color-global-button-grey;
  }
  border-radius: 20px;
  color: white;
  padding: 10px 45px;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: none;
  border: 0 none;
  font-size: 12px;
  outline:none;
}

button:active{
  background:grey;
}

label{
  font-size: 14px;
  font-weight: bold;
  color: $color-global-text-grey;
  display:block;
  padding-bottom: 7px;
}

h1{
  text-align: center;
  font-size: 24px;
  &.subtitle{
    text-align: left;
    font-weight:bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &.header{
    display:inline-block;
  }
}

textarea {
  width: 100%;
  @include transition-with-defaults(border-color);
  &.error {
    border-color: red;
  }
}


//helper classes
//-----------------------------
.faded-out {
  display: none;
  opacity: 0;
}


//typography
.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

//background colours
//-----------------------------
.main-container{
  background: $color-global-bg;
  height:100%;
}

.yellow-container{
  background: $color-global-yellow;
  height:100%;
}

.white-container{
  background: white;
  height:100%;
}

//content padding
//-----------------------------
.content-form{
  margin-left:20px;
}


.wrapper-container{
  margin-top: 235px;
  &.marketing{
    margin-top: 400px;
  }
  &.sideinfo{
    margin-top: 40%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
  }
}


//visibility
//-----------------------------
.hide-for-small {
  @include mobile {
    display: none;
  }
}
.hide-for-medium {
  @include tablet {
    display: none;
  }
}
.hide-for-medium-up {
  @include tablet-up {
    display: none;
  }
}
.hide-for-large {
  @include desktop {
    display: none;
  }
}
