# Logs
*.log
*.log.*
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled files
webapp/public

# Dependency directories
node_modules
bower_components

# caches
.npm
.sass-cache

# config
.env

# environment
.idea
