<html>
<head>
    <title>{{meta.pageTitle}}</title>
    <link rel="stylesheet" href="/public/app.base.min.css">
    <link rel="stylesheet" href="/public/app.main.min.css">
</head>
<body>
{{>header}}
{{{body}}}
{{>footer}}
</body>
</html>