<html>
<head>
    <title>TaxPlan</title>
    <link rel="stylesheet" href="/public/app.base.min.css">
    <link rel="stylesheet" href="/public/app.main.min.css">
</head>
<body>
{{{body}}}
{{>footer}}
</body>
</html>