<section id="tax-profile-credits" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Credits</h1>
                <button id="credits-submit" type="submit" class="green header">Next</button>
                <button id="credits-back" class="grey header">Previous</button>
            </div>
            <form id="credits-form">
                <h1 class="subtitle">{{name}} please select all your credit in 2016:</h1>
                {{>tax-profile-options questions=questions.credits activeTiles=activeTiles.credits}}
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarTitle="credits"}}
</section>