<section id="tax-profile-deductions" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Deductions</h1>
                <button id="deductions-submit" type="submit" class="green header">Next</button>
                <button id="deductions-back" class="grey header">Previous</button>
            </div>
            <form id="deductions-form">
                <h1 class="subtitle">Last Question! {{name}} please select all your 2016 deductions:</h1>
                <section class="grid-container">
                    {{#each questions.deductions}}
                        {{>tax-profile-option}}
                    {{/each}}
                </section>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarTitle="deductions"}}
</section>