<section id="tax-profile-filers-names">
    <h1>filers names</h1>
    <form id="filers-names-form">
        <label for="filers-names-myself">Your first name</label>
        <input id="filers-names-myself" type="text" readonly="readonly" value="{{name}}"/>
        {{#compare filingType.spouse 1 operator="=="}}
            <label for="filers-names-spouse">Your spouse or partner's first name</label>
            <input id="filers-names-spouse" type="text" value=""/>
        {{/compare}}
        {{#compare filingType.other 1 operator="=="}}
            <label for="filers-names-other">First name of your additional filer</label>
            <input id="filers-names-other" type="text" value=""/>
        {{/compare}}

        <button type="submit">Next</button>
    </form>
    <button id="filers-names-back">Back</button>
</section>