<section id="tax-profile-filing-for" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Multiple Filers</h1>
                <button type="submit" id="filing-for-submit" class="green header">Next</button>
                <button id="filing-for-back" class="grey header">Previous</button>
            </div>
            <form id="filing-for-form">
                <h1 class="subtitle">
                    Hi {{users.0.firstName}}, can you please select all the people you are filing for:
                </h1>
                {{>tax-profile-options questions=questions.filingFor activeTiles=users.0.activeTiles.filingFor}}
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarTitle="Multiple Filers" sidebarImage="i--icon-multifiler"}}
</section>