<section id="tax-profile-filing-for" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Multiple Filers</h1>
                <button type="submit" id="filing-for-submit" class="green header">Next</button>
                <button id="filing-for-back" class="grey header">Previous</button>
            </div>
            <h1 class="subtitle">
                Hi {{name}}, can you please select all the people you are filing for:
            </h1>
            <form id="filing-for-form">
                <div class="tax-profile-tile i--icon-filing-myself {{#compare filingType.myself 1 operator="=="}}active{{/compare}}" data-name="myself">
                   <span class="tax-profile-tile-label">
                       Myself
                   </span>
                </div>
                <div class="tax-profile-tile i--icon-filing-partner {{#compare filingType.spouse 1 operator="=="}}active{{/compare}}" data-name="spouse">
                    <span class="tax-profile-tile-label">
                        My Spouse/Partner
                    </span>
                </div>
                <div class="tax-profile-tile i--icon-filing-other {{#compare filingType.other 1 operator="=="}}active{{/compare}}" data-name="other">
                    <span class="tax-profile-tile-label">
                    Other Person/People
                    </span>
                </div>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarTitle="Multiple Filers" sidebarImage="i--icon-multifiler"}}
</section>