<section id="tax-profile-income-multi"  class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
    <h1>income - multi</h1>
    <form id="income-multi-form">
        <p>{{firstName}} please select all your sources of income in 2016:</p>
        <section class="grid-container">
            {{#each questions.income}}
                {{>tax-profile-option}}
            {{/each}}
        </section>
        {{#compare filingType.spouse 1 operator="=="}}
            <p>Please select all your spouse's sources of income in 2016:</p>
            <section class="grid-container">
                {{#each questions.income}}
                    {{>tax-profile-option}}
                {{/each}}
            </section>
        {{/compare}}
        {{#compare filingType.other 1 operator="=="}}
            <p>Please select all your other filer's sources of income in 2016:</p>
            <section class="grid-container">
                {{#each questions.income}}
                    {{>tax-profile-option}}
                {{/each}}
            </section>
        {{/compare}}
        <button type="submit">Next</button>
    </form>
    <button id="income-multi-back">Back</button>
    </div>
    {{>tax-profile-sidebar sidebarTitle="filer's names"}}
</section>