<section id="tax-profile-income">
    <h1>income</h1>
    <form id="income-form">
        <p>{{name}} please select all sources of income in 2016:</p>
        {{>income-options}}
        <button type="submit">Next</button>
    </form>
    <button id="income-back">Back</button>
</section>