<section id="tax-profile-quote" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Quote</h1>
                <button id="quote-submit" type="submit" class="green header">Get Started!</button>
                <button id="quote-back" class="grey header">Previous</button>
            </div>
            <form id="quote-form">
                <p>The fee for TAXplan Canada to
                    prepare your 2015
                    taxes for 2 filers are:</p>
                <div>
                    <p>Tax Prep. - Carmela Doctor</p>
                    <p>$89.00</p>
                    <button id="quote-submit" type="submit" class="green">Great! Let's Get Started</button>
                </div>
                <div>
                    <p>Tax Prep. - Carmela Doctor</p>
                    <p>$89.00</p>
                    <button id="quote-submit" type="submit" class="green">Great! Let's Get Started</button>
                    <p>*with conditions</p>
                </div>
                <div>
                    <p>Direct Deposit</p>
                    <p>$5.00</p>
                </div>
                <div>
                    <p>$191.00</p>
                    <p>Plus Provincial Tax</p>
                </div>
                <p>You don't need to pay now</p>
                <p>Tax Prep. - Carmela Doctor</p>
                <button id="quote-submit" type="submit" class="green long">Great! Let's Get Started</button>
                <p>By clicking "Get Started" you agree to the TAXplan Terms of Service and Privacy Policy</p>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarImage="i--icon-credits" sidebarTitle="quote"}}
</section>