<section id="tax-profile-welcome" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Welcome to TAXplan</h1>
                <button type="submit" id="welcome-submit" class="green header">Next</button>
            </div>

            <form id="welcome-form">
                <h1 class="subtitle">To start off we just need your first name…</h1>
                <p>
                    <label for="welcome-name">ENTER YOUR FIRST NAME</label>
                    <input type="text" id="welcome-name" name="name" placeholder="First Name" value="{{users.0.firstName}}"/>
                </p>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar sidebarTitle="howdy"}}
</section>