<section id="tax-profile-welcome" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Welcome to TAXplan – your online tax professional!</h1>
            <button type="submit" id="welcome-submit" class="green header">Next</button>
        </div>
        <div class="content-form">
            <form id="welcome-form">
                <h1 class="subtitle">Please tell us your first name.</h1>
                <div>
                    <label for="welcome-name">ENTER YOUR FIRST NAME</label>
                    <input type="text" id="welcome-name" name="firstName" placeholder="First Name" class="capitalize" value="{{users.0.firstName}}"/>
                    <p id="welcome-label-error-name" class="label-error">Please provide information</p>
                </div>
            </form>
        </div>
    </div>
    {{>tax-profile-sidebar hasTiles=false sidebarImage="i--icon-taxplan-logo" sidebarTitle="Howdy"}}
</section>