/*
Imports and settings that might change with theme development
*/


//source
//-----------------------------
@import "base/media-queries";
@import "base/mixins";
@import "base/colors";
@import "base/fonts";
@import "base/icons";


//Susy (grid)
//-----------------------------
@import "susy";

//settings
$susy: (
        columns: 12,
        container: 1120px,//max-width = 1120px
        global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;


//theme
//-----------------------------
@import "theme/shared";
@import "theme/grid";
@import "theme/header";
@import "theme/footer";


//views
//-----------------------------
@import "views/errors";


//user views
//-----------------------------
@import "views/user/login";
@import "views/user/register";
@import "views/user/password-reset";


//personal profile views
//-----------------------------
@import "views/personal_profile/special-scenarios";
@import "views/personal_profile/marital-status";
@import "views/personal_profile/dependants";
@import "views/personal_profile/address";
@import "views/personal_profile/birthdate";

//tax profile views
//-----------------------------
@import "views/tax_profile/tax-profile";
@import "views/tax_profile/welcome";
@import "views/tax_profile/filing-for";
@import "views/tax_profile/filers-names";
@import "views/personal_profile/income";
@import "views/personal_profile/deductions";
@import "views/personal_profile/credits";
@import "views/tax_profile/quote";
@import "views/tile-icons";


//dashboard views
//-----------------------------
@import "views/dashboard/chat";
@import "views/dashboard/dashboard";
@import "views/dashboard/my-return";
@import "views/dashboard/upload";