/*
Imports and settings that might change with theme development
*/


//source
//-----------------------------
@import "base/media-queries";
@import "base/mixins";
@import "base/colors";
@import "base/fonts";
@import "base/icons";


//Susy (grid)
//-----------------------------
@import "susy";

//settings
$susy: (
        columns: 12,
        container: 1120px,//max-width = 1120px
        global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;


//theme
//-----------------------------
@import "theme/shared";
@import "theme/grid";
@import "theme/header";
@import "theme/footer";


//views
//-----------------------------
@import "views/errors";
@import "views/user/login";
@import "views/user/register";