/*
Imports and settings that might change with theme development
*/


//source
//-----------------------------
@import "base/media-queries";
@import "base/mixins";
@import "base/colors";
@import "base/fonts";
@import "base/icons";


//Susy (grid)
//-----------------------------
@import "../bower_components/susy/sass/susy";

//settings
$susy: (
        columns: 12,
        container: 1120px,//max-width = 1120px
        global-box-sizing: border-box
);

/* Makes border-box properties */
@include border-box-sizing;


//theme
//-----------------------------
@import "theme/shared";
@import "theme/grid";
@import "theme/header";
@import "theme/footer";


//templates
//-----------------------------
@import "templates/errors";
@import "templates/user/login";
@import "templates/user/register";