<div id="container-document-tile" class="add-margin-right add-bottom-margin">
    <!--TODO: Need to bind image and document info-->
    <image src="{{thumbnailURL}}"></image>
    <div id="container-document-tile-info">
        <p class="no-margin f--futura-book label-document-tile-name">{{name}}</p>
        <div class="label-uploaded-info">
            <p class="no-margin f--futura-book">Uploaded:</p>
            <p class="no-margin f--futura-book">{{uploadedTime}}</p>
        </div>
    </div>
</div>