<aside class="modal--fade" id="modal-delete-file-submit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center delete-popup">
        <form id="modal-delete-file-submit-form">
            <h3 class="add-top-margin add-top-padding add-bottom-padding add-bottom-margin">Do you want to delete item?</h3>
            <a href="#!" class="grey-button">No</a>
            <a id="confirm-delete-button-yes" class="green-button">Yes</a>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>