<div id="container-document-tile" class="add-margin-right add-bottom-margin">
    <!--TODO: Need to bind image and document info-->
    <image src="http://www.npg.si.edu/exhibit/feature/images/schoeller_full.jpg"></image>
    <div id="container-document-tile-info">
        <p class="no-margin f--futura-book label-document-tile-name">D1234512.jpg</p>
        <div class="label-uploaded-info">
            <p class="no-margin f--futura-book">Uploaded:</p>
            <p class="no-margin f--futura-book">01/24/16 6:34pm</p>
        </div>
    </div>
</div>