<aside class="modal--fade" id="modal-tax-return-submit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="modal-tax-return-submit-form">
            <h3>Have you uploaded all of your documents?</h3>
            <p class="f--futura-book add-margin-left add-margin-right">
                Starting your return will send all of your files to the TaxPro so they can prepare your taxes.  Click "Yes" if you are ready to proceed. To ensure the accuracy of your return, documents cannot be deleted after you begin.
            </p>
            <a href="#!" class="grey-button">No</a>
            <button type="submit" class="green">Yes</button>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>