<aside class="modal--fade" id="modal-checklist-description" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="modal-checklist-description-form">
            <h3>Do you want to delete item?</h3>
            <a href="#!">No</a>
            <button type="submit">Yes</button>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>