<div class="small-3 medium-3 grid-end">
    <div id="container-dashboard-welcome">
        <div class="i--icon-logo"></div>
        <div class="horizontal-center border-top-light-gray add-top-padding add-top-margin label-welcome">
            WELCOME TO TAXPLAN</div>
        <p class="side-info-blurb">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
</div>