{{#if isChat}}
    <section class="small-2 medium-3 yellow-container">
        <div id="dashboard-chat-activate" class="sidebar-menu-item">
            <div class="i--icon-chat icon-sidebar-item"></div>
            <p class="label-sidebar-menu-item">Chat Unread</p>
            {{#if newMessageCount}}
                <div class="label-sidebar-messages-count">{{newMessageCount}}</div>
            {{/if}}
        </div>
        <div id="dashboard-upload-activate" class="sidebar-menu-item">
            <div class="i--icon-upload icon-sidebar-item"></div>
            <p class="label-sidebar-menu-item">Upload</p>
        </div>
        {{#if enableTaxReturn}}
            <div id="dashboard-my-return-activate" class="sidebar-menu-item">
                <div class="i--icon-return icon-sidebar-item"></div>
                <button class="label-sidebar-menu-item">My Return</button>
            </div>
        {{/if}}
        <div id="container-dashboard-sidekick-ad">
            <div class="i--icon-get-app"></div>
            <p class="label-sidekick-blurb">Photograph & upload your tax docs with TaxPlan’s FREE Sidekick app.</p>
            <button class="green">Get it now</button>
        </div>
    </section>
{{else}}
    <div id="container-collapsed-sidebar" class="yellow-container">
        <div class="no-margin">
            <div id="dashboard-chat-activate" class="sidebar-menu-item collapsed">
                <div class="i--icon-chat icon-sidebar-item collapsed"></div>
                <p class="label-sidebar-menu-item collapsed font-sidebar-dark-grey">CHAT</p>
            </div>
            <div id="dashboard-upload-activate" class="sidebar-menu-item collapsed">
                <div class="i--icon-upload icon-sidebar-item collapsed"></div>
                <p id="dashboard-upload-activate" class="label-sidebar-menu-item collapsed font-sidebar-dark-grey">UPLOAD</p>
            </div>
            {{#if data.enableTaxReturn}}
            <div id="dashboard-my-return-activate" class="sidebar-menu-item collapsed">
                    <div class="i--icon-return icon-sidebar-item collapsed"></div>
                    <p class="label-sidebar-menu-item collapsed font-sidebar-dark-grey">RETURN</p>
            </div>
            {{/if}}
            <div id="container-dashboard-sidekick-ad" class="collapsed">
                <div class="i--icon-get-app collapsed"></div>
                <p class="label-sidebar-menu-item collapsed font-green">GET THE APP</p>
            </div>
        </div>
    </div>
{{/if}}

