<section id="container-signature-tile">
    <div class="container-attention-icon border-right-dark-grey add-top-margin add-bottom-margin display-inline-block">
        <div class="i--icon-red-attention"></div>
    </div>
    <div class="container-signature-tile-info display-inline-block">
        <div>
            <h1 class="display-inline-block float-left font-header-size">Carmela Doctor</h1>
            <p class="display-inline-block float-right label-signature-status">SIGNATURE REQUIRED</p>
        </div>
        <p class="side-info-blurb display-inline-table">Your signature it required to submit your return to CRA</p>
        <button class="green long">Sign & E-file</button>
        <div class="container-signature-tile-download">
            <p class="display-inline-block float-left side-info-blurb label-download-blurb">Feel free to download or print your return for personal use</p>
            <div class="display-inline-block container-download-buttons">
                <div class="i--icon-download display-inline-block add-top-margin add-margin-right"></div>
                <div class="i--icon-printer display-inline-block add-top-margin"></div>
            </div>
        </div>
    </div>
    <div class="i--icon-taxplan-check"></div>
</section>