<!--TODO: Need show/hide for Taxplan Description, TaxPro Description, or Page Description -->
{{#if false}}
<div class="small-3 medium-3 grid-end">
    <div id="container-dashboard-welcome">
        <div class="i--icon-logo"></div>
        <div class="horizontal-center border-top-light-gray add-top-padding add-top-margin label-welcome">
            WELCOME TO TAXPLAN</div>
        <p class="side-info-blurb">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
    </div>
</div>
{{else if false}}
<div class="small-3 medium-3 grid-end">
    <div id="container-dashboard-taxpro">
        <div class="i--icon-message-taxplan"></div>
        <div class="container-taxpro-introduction">
            <p class="no-margin label-introduction-line">Your TaxPro</p>
            <p class="no-margin label-introduction-name font-yellow">Gennaro DeLuca</p>
            <p class="no-margin label-introduction-line">Certified Something</p>
            <p class="no-margin description-symbol font-yellow">+</p>
        </div>
        <p class="label-taxpro-description">
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
        </p>
    </div>
</div>
{{else if hasDescription}}
<div class="small-3 medium-3 grid-end white-container">
        <div id="container-dashboard-side-info-description">
            <h3 class="text-left">Direct Deposit</h3>
            <p class="side-info-blurb text-left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam velit ut faucibus consequat. In hac habitasse platea dictumst. Proin at volutpat velit. Quisque congue varius nulla non aliquam. Integer condimentum dapibus ipsum, sit amet pharetra ligula aliquam sit amet. Praesent dui tortor, molestie et sodales non, vulputate in ligula. Curabitur nec justo tellus. Sed ac arcu porttitor, blandit sapien convallis, ultrices nisi. Duis aliquam iaculis nunc sed sodales. Phasellus cursus convallis scelerisque. Nulla consectetur, nunc at maximus tincidunt, mauris sapien vehicula libero, at bibendum metus dui ac magna. Donec tempus justo eu vestibulum dictum.
            </p>
        </div>
 </div>
{{/if}}
