<aside class="modal--fade" id="modal-checklist-description" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center checklist-popup">
        <form id="modal-checklist-description-form">
            <h1>{{activeItem.name}}</h1>
            <p class="f--futura-book add-margin-left add-margin-right add-left-padding add-right-padding">{{activeItem.description}}</p>
            <div class="checklist-description-button-container">
             <a href="#!" class="green-button">Okay</a>
            </div>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>