<aside class="modal--fade" id="modal-tax-return-submit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="modal-tax-return-submit-form">
            <h3>Have you uploaded all of your documents?</h3>
            <p class="f--futura-book add-margin-left add-margin-right">
                Click YES and your documents will be sent to your TAXpro for processing. To ensure the accuracy of your tax return, documents can’t be deleted or changed after you click YES.
            </p>
            <div class="add-top-margin add-top-padding">
            <a href="#!" class="grey-button">No</a>
            <a id="dashboard-submit-return-yes" class="green-button">Yes</a>
            </div>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>