<section id="dashboard-upload">
    <h1>upload</h1>
    <p>upload here</p>
    <input id="fileupload" type="file" name="files[]" data-url="/dashboard/upload" multiple>
    <div id="progress-bar"></div>
</section>
