#container-address-form{
  padding-bottom: 20px;
}

.container-same-as-above{
  padding-bottom: 10px;
}

.container-inline-input{
  display: inline-block;
  margin-right:10px;
  &.short{
    width: 15%;
  }
  &.long{
    width: 45%;
  }
}