<div class="small-2 medium-3 yellow-container">
    <div class="sidebar-menu-item">
        <div class="i--icon-chat icon-sidebar-item"></div>
        <p id="dashboard-chat-activate" class="label-sidebar-menu-item font-sidebar-dark-grey">MESSAGE CENTER</p>
        <div class="label-sidebar-messages-count">{{data.newMessageCount}}</div>
    </div>
    <div class="sidebar-menu-item">
        <div class="i--icon-upload icon-sidebar-item"></div>
        <p id="dashboard-upload-activate" class="label-sidebar-menu-item font-sidebar-dark-grey">UPLOAD YOUR DOCUMENTS</p>
    </div>
    <div class="sidebar-menu-item">
        {{#if data.enableTaxReturn}}
            <div class="i--icon-return icon-sidebar-item"></div>
            <p id="dashboard-my-return-activate" class="label-sidebar-menu-item font-sidebar-dark-grey">YOUR TAX RETURN</p>
        {{/if}}
    </div>

    <div id="container-dashboard-sidekick-ad">
        <div class="i--icon-get-app"></div>
        <p class="label-sidekick-blurb">Photograph & upload your tax docs with TaxPlan’s FREE Sidekick app.</p>
        <button class="green">Get it now</button>
    </div>
</div>