<div class="small-3 yellow-container">
    <div>
        <button id="dashboard-chat-activate">Chat Unread: {{data.newMessageCount}}</button>
    </div>
    <button id="dashboard-upload-activate">Upload</button>
    <div>
        {{#if data.enableTaxReturn}}
            <button id="dashboard-my-return-activate">My Return</button>
        {{/if}}
    </div>
</div>