<div class="small-3 medium-3 grid-end">
    <div id="container-dashboard-taxpro">
        <div class="i--icon-message-taxplan"></div>
        <div class="container-taxpro-introduction">
            <p class="no-margin label-introduction-line">Your TaxPro</p>
            <p class="no-margin label-introduction-name font-yellow">Gennaro DeLuca</p>
            <p class="no-margin label-introduction-line">Certified Something</p>
            <p class="no-margin description-symbol font-yellow">+</p>
        </div>
        <p class="label-taxpro-description">
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
        </p>
    </div>
</div>