<footer class="grid-container">
    <nav class="dev-nav">
        <!--for dev use-->
        {{#if data.hasUserProfileSession}}
            <a href="/dashboard">Dashboard</a>
            <a href="/personal-profile">Personal Profile</a>
            <a href="/logout">Logout (user session)</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/tax-profile">Onboard</a>
            <a href="/password-reset">Forgot Password</a>
        {{/if}}

        {{#if data.hasTaxProfileSession}}
            <a href="/tax-profile/logout">Logout (tax profile session)</a>
        {{/if}}

    </nav>
    <script type="text/javascript" src="/app.base.min.js"></script>
    <script type="text/javascript" src="/app.handlebars.min.js"></script>
    <script type="text/javascript" src="/app.main.min.js"></script>
</footer>
