<header class="full-screen-grid-container fixed-header">
    <div class="i--icon-logo"></div>
    {{#if data.hasUserProfileSession}}
        <div class="dropdown">
            <p class="text-header dark-grey add-margin-right"><span class="capitalize">{{ data.users.0.firstName }}</span></p>
            <div class="i--icon-default-user"></div>
            <div class="dropdown-content">
                <a href="#">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    {{/if}}
    <p class="text-header">NEED HELP? CALL US: 1-855-610-PLAN (7526)</p>
</header>