<header class="grid-container">
    <nav>
        <!--for dev use-->
        {{#if user.hasUserSession}}
            <a href="/dashboard">Dashboard</a>
            <a href="/personal-profile">Personal Profile</a>
            <a href="/logout">Logout (user session)</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/tax-profile">Tax Profile</a>
            <a href="/password-reset">Forgot Password</a>
        {{/if}}

        {{#if account.hasAccountSession}}
            <a href="/tax-profile/logout">Logout (account session)</a>
        {{/if}}
    </nav>
</header>