<header class="grid-container">
    <nav>
        {{#if account.hasSession}}
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/password-reset">Forgot Password</a>
        {{/if}}
    </nav>
</header>