<header class="full-screen-grid-container">
    <div class="i--icon-logo"></div>
    <p class="text-contact">NEED HELP? CALL US: 1-855-610-PLAN (7526)</p>
    <div id="progress-bar" class="progress-bar">
    </div>
</header>