<section class="modal--fade" id="modal-migrated-password-popup" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center migrated">
        <form id="modal-migrated-password-form">
            <div class="{{popupImage}}"></div>
            <p class="label-popup-header border-bottom-dark-grey add-margin-right add-margin-left add-bottom-padding">{{popupTitle}}</p>
            <p id="popup-blurb" class="label-popup-blurb side-info-blurb add-bottom-margin add-bottom-padding">Welcome back, you’re using a new version of TAXplan. We need you to reset your password by clicking <a href='{{forgotPasswordLink}}/forgot-password' target="_self">here</a></p>
            <a href='{{forgotPasswordLink}}/forgot-password' target="_self" class="green-button">Got it!</a>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</section>
