<div id="button-more" class="button-more-container">
        <div class="button-more">
            <p class="display-inline-block label-more">More</p>
            <div class="i--icon-right-arrow display-inline-block"></div>
        </div>
</div>