<aside class="modal--fade" id="settings-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">
    <div class="modal-inner popup text-center">
        <form id="settings-confirm-modal-form">
            <h3>Confirm Settings Change</h3>
            <p class="f--futura-book add-margin-left add-margin-right add-top-margin add-top-padding">
                PLEASE NOTE: For your security, after changing your email and/or password you will be logged out and will have to log back in with your new credentials.
            </p>
            <div class="add-top-padding add-top-margin">
                <a href="#!" class="grey-button">No</a>
                <a id="settings-confirm-button-yes" class="green-button">Yes</a>
            </div>
        </form>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal" data>?</a>
</aside>