<section id="personal-profile-address">
    <h1>address</h1>
    <form id="address-form">
        <button type="submit">Next</button>
    </form>
    <button id="address-back">Back</button>
</section>