<section id="personal-profile-credits" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Credits</h1>
                <button id="credits-submit" type="submit" class="green header">Next</button>
                <button id="credits-back" class="grey header">Previous</button>
            </div>
            <form id="credits-form">
                {{#each taxReturns}}
                    <h1 class="subtitle">{{firstName}} please select all your credits in 2016:</h1>
                    {{>personal-profile-options questions=questions.answers activeTiles=questions.answers.answer  tileContainerId=taxReturnId}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-credits" sidebarTitle="Credits"}}
</section>
{{>personal-profile-popup popupTitle="Income" popupBlurb="Please select a tile lorem ipsum" popupImage="i--icon-taxplan-logo"}}
