<section id="personal-profile-deductions" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Deductions</h1>
            <button id="deductions-submit" type="submit" class="green header">Next</button>
            <button id="deductions-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="deductions-form">

                 {{#each taxReturns}}
                    <h1 class="subtitle  {{#if @index}}border-top-light-gray{{/if}}">{{firstName}} please select all your 2016 deductions:</h1>
                     {{#compare @index 0 operator="=="}}
                         {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId isPrimaryFiler=true}}
                     {{else}}
                         {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                     {{/compare}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarTitle="Deductions" sidebarDescription="Owe no man is in his son with God:
7 But covet thy wages; then can find grace also.
7 Therefore, as lights in spirit; and said unto him before the damsel, and thirty years, and go."}}
</section>
{{>personal-profile-popup popupTitle="Deductions" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-alert"}}
