<section id="personal-profile-deductions" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Deductions</h1>
                <button id="deductions-submit" type="submit" class="green header">Next</button>
                <button id="deductions-back" class="grey header">Previous</button>
            </div>
            <form id="deductions-form">

                 {{#each taxReturns}}
                    <h1 class="subtitle">{{firstName}} please select all your 2016 deductions:</h1>
                    {{>personal-profile-options questions=questions.answers activeTiles=questions.answers.answer tileContainerId=taxReturnId}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarTitle="Deductions"}}
</section>
{{>personal-profile-popup popupTitle="Income" popupBlurb="Please select a tile lorem ipsum" popupImage="i--icon-taxplan-logo"}}
