<section id="personal-profile-dependants" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Dependants</h1>
                <button id="dependants-submit" class="green header">Next</button>
                <button id="dependants-back" class="grey header">Previous</button>
            </div>
            <form id="dependants-form">
                <h1 class="subtitle">{{users.0.firstName}}, do you have any children or elderly parents as dependants?</h1>
                {{>personal-profile-options questions=questions.dependants activeTiles=users.0.activeTiles.dependants}}
                {{>personal-profile-dependants-form}}
                {{>personal-profile-dependants-line}}
                <div class="border-bottom-light-gray add-bottom-padding add-top-padding">
                    <div class="i--icon-add"></div>
                    <label class="label-add">ADD A DEPENDANT FOR {{users.0.firstName}}</label>
                </div>
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-dependants" sidebarTitle="what is a dependant?"}}
</section>