<section id="personal-profile-dependants" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="container-header fixed-page-header">
            <h1 class="header">Dependants</h1>
            <button id="dependants-submit" class="green header">Next</button>
            <button id="dependants-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="dependants-form">
                {{#each taxReturns}}
                    <div class="border-bottom-light-grey add-bottom-padding taxplan-form-container" data-id="{{taxReturnId}}">
                        <h1 class="subtitle">{{firstName}}, do you have any children or elderly parents as dependants?</h1>
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                        {{#if hasDependants}}
                            {{>personal-profile-dependants-form}}
                        {{/if}}
                        {{#each dependants}}
                            {{>personal-profile-dependants-line}}
                        {{/each}}
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-dependants" sidebarTitle="what is a dependant?"}}
</section>
{{>personal-profile-popup popupTitle="Dependants" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-taxplan-logo"}}
