<section id="personal-profile-dependants" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="container-header fixed-page-header">
            <h1 class="header">Dependants</h1>
            <button id="dependants-submit" class="green header">Next</button>
            <button id="dependants-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="dependants-form">
                {{#each taxReturns}}
                    <div class="border-bottom-light-grey add-bottom-padding taxplan-tile-container taxplan-form-container" data-id="{{taxReturnId}}">
                        <h1 class="subtitle">{{firstName}}, do you have any children or elderly parents as dependants?</h1>
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                        {{#hasDependantsSelected questions.answers}}
                            {{#each dependants}}
                                {{>personal-profile-dependant}}
                            {{/each}}
                            <div class="dependants-button-add border-bottom-light-gray add-bottom-padding add-top-padding" data-id="{{tax_return_id}}">
                                <div class="i--icon-add"></div>
                                <label class="label-add">ADD A DEPENDANT FOR {{firstName}}</label>
                            </div>
                        {{/hasDependantsSelected}}
                    </div>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-dependants" sidebarTitle="what is a dependant?"}}
</section>
{{>personal-profile-popup popupTitle="Dependants" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-taxplan-logo"}}
