<section id="personal-profile-last-name" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Hi {{firstName}}, welcome to TAXplan</h1>
                <button id="last-name-submit" type="submit" class="green header">Next</button>
            </div>
            <form id="last-name-form">
                <h1 class="subtitle">{{firstName}} please provide us with your last name:</h1>
                <p>
                    <label for="last-name">LAST NAME</label>
                    <input type="text" id="last-name-input" name="name" placeholder="Last Name" value="{{lastName}}"/>
                </p>
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarTitle="last name"}}
</section>