<section id="personal-profile-marital-status">
    <h1>martial status</h1>
    <form id="marital-status-form">
        <button type="submit">Next</button>
    </form>
    <button id="marital-status-back">Back</button>
</section>