<section id="personal-profile-marital-status" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Marital Status</h1>
                <button id="marital-status-submit" type="submit" class="green header">Next</button>
                <button id="marital-status-back" class="grey header">Previous</button>
            </div>
            <form id="marital-status-form">


               {{#each taxReturns}}

                    <h1 class="subtitle display-inline-table">{{accountInfo.firstName}}, what was your martial status on Dec 31, 2015:</h1>
                    {{>personal-profile-options questions=questions.answers activeTiles=questions.answers.answer tileContainerId=taxReturnId}}
                    <div class="marital-status-changed-container">
                        <div class="checkbox"></div>
                        <p class="checkbox-label">MY MARITAL STATUS CHANGED IN 2016</p>
                        <p>PLEASE INDICATE THE DATE OF CHANGE:</p>
                        <div>
                            <input class="small-2 small text-center" placeholder="DD" id="birth-day" hidden/>
                            <input class="small-2 small text-center" placeholder="MM" id="birth-month" hidden/>
                        </div>
                        <div class="display-inline-table full-width add-top-margin">
                            <div class="checkbox"></div>
                            <p class="checkbox-label">SAME MARITAL STATUS AS ABOVE</p>
                        </div>
                    </div>
               {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-marital-status" sidebarTitle="marital status"}}
</section>
{{>personal-profile-popup popupTitle="Income" popupBlurb="Please select a tile lorem ipsum" popupImage="i--icon-taxplan-logo"}}
