<section id="personal-profile-special-scenarios" class="full-screen-grid-container main-container">
    <div class="small-12 medium-7">
        <div class="content-form">
            <div class="container-header">
                <h1 class="header">Special Scenarios</h1>
                <button id="special-scenarios-submit" type="submit" class="green header">Next</button>
                <button id="special-scenarios-back" class="grey header">Previous</button>
            </div>
            <form id="special-scenarios-form">
                {{#each taxReturns}}
                    <h1 class="subtitle">{{firstName}} please select all scenarios that applied to you in 2016:</h1>
                    {{>personal-profile-options questions=questions.answers activeTiles=questions.answers.answer tileContainerId=taxReturnId}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-special-star" sidebarTitle="What is a Special Scenario?"}}
</section>
