<section id="personal-profile-special-scenarios" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Special Scenarios</h1>
            <button id="special-scenarios-submit" type="submit" class="green header">Next</button>
            <button id="special-scenarios-back" class="grey header">Previous</button>
        </div>
        <div class="content-form">
            <form id="special-scenarios-form">
                {{#each taxReturns}}
                    <h1 class="subtitle  {{#if @index}}border-top-light-gray{{/if}}">{{firstName}} please select all scenarios that applied to you in 2016:</h1>
                    {{#compare @index 0 operator="=="}}
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId isPrimaryFiler=true}}
                    {{else}}
                        {{>personal-profile-options questions=questions.answers tileContainerId=taxReturnId}}
                    {{/compare}}
                    <input type="hidden" id="tax-return-id-{{taxReturnId}}" name="taxReturnId" value="{{taxReturnId}}"/>
                {{/each}}
            </form>
        </div>
    </div>
    {{>personal-profile-sidebar sidebarImage="i--icon-special-star" sidebarTitle="What is a Special Scenario?" sidebarDescription="Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charizard Lorem ipsum dolor sit"}}
</section>
{{>personal-profile-popup popupTitle="Special Scenarios" popupBlurb="You must select at least one tile that applies" popupImage="i--icon-taxplan-logo"}}
