.link-forgot-password{
  display:inline-block;
  background: transparent;
  text-decoration: none;
  height:40px;
  margin-left: -90px;
  font-size: 12px;
}

.container-button-login{
  margin-top:50px;
  text-align: center;
}

.container-login{
  margin-top: 235px;
}