.link-forgot-password{
  background: transparent;
  text-decoration: none;
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 12px;
}

.container-button-login{
  margin-top:50px;
}

.container-password-form{
  position:relative;
}