<main id="page-tax-profile">
    <!--filled dynamically-->
</main>
<script type="text/javascript">
    var accountObject = JSON.parse('{{{locals.accountToString}}}'),
            taxProfileQuestions = JSON.parse('{{{locals.taxProfileQuestionsToString}}}');
</script>