<main id="page-personal-profile">
    <!--filled dynamically-->
</main>
<script type="text/javascript">
    var personalProfileObject = JSON.parse('{{{locals.personalProfileToString}}}'),
            questionsObject = JSON.parse('{{{locals.personalProfileQuestionsToString}}}');
            console.log("this", personalProfileObject, questionsObject);
</script>
