<section id="dashboard-chat">
    <div class="messages-container">
        <h1>chat</h1>
        <p>hello {{firstName}} {{lastName}}</p>
        {{#each messages}}
            <div class="messages">
                {{{body}}}
            </div>
        {{/each}}
    </div>
    <form id="dashboard-chat-form" class="border-top-light-gray container-text-field">
        <textarea id="dashboard-chat-message" rows="3" name="message" class="text-field-chat"></textarea>
        <button type="submit" id="dashboard-chat-submit" class="green short button-send">Send</button>
    </form>
</section>