<section id="dashboard-chat">
    <div id="dashboard-chat-container">
        {{#each messages}}
            <div class="chat-message">
                <p>{{date}}</p>
                {{#if isFromUser}}
                    <p>I sent this</p>
                {{else}}
                    <p>taxplan sent this (just styling difference?)</p>
                {{/if}}
                <p>
                    {{{body}}}
                </p>
            </div>
        {{/each}}
    </div>
    <form id="dashboard-chat-form" class="border-top-light-gray container-text-field">
        <textarea id="dashboard-chat-message" rows="3" name="message" class="text-field-chat"></textarea>
        <button type="submit" id="dashboard-chat-submit" class="green short button-send">Send</button>
    </form>
</section>