<section id="dashboard-chat">
    <div id="dashboard-chat-container">
        {{#each messages}}
            <div id="chat-message" class="add-top-padding add-bottom-padding">
                <p class="label-message-date">{{date}}</p>
                {{#if isFromUser}}
                {{else}}
                    <div class="i--icon-message-taxplan"></div>
                {{/if}}
                <p class="label-message-content from-user display-inline-block side-info-blurb">
                    {{{body}}}
                </p>
            </div>
        {{/each}}
    </div>
    <form id="dashboard-chat-form" class="border-top-light-gray">
        <textarea id="dashboard-chat-message" rows="3" name="message" class="text-field-chat"></textarea>
        <button type="submit" id="dashboard-chat-submit" class="green short button-send">Send</button>
    </form>
</section>