{{>dashboard-left-sidebar}}
<section id="dashboard-upload-checklist" class="medium-2">
    <div id="container-checklist-header-cell">
        <h2 class="label-checklist-header f--futura-book">Document Checklist</h2>
        <div class="i--icon-printer"></div>
    </div>
    {{#each documentChecklist.checklistItems}}
        <div class="upload-checklist-item" data-id="{{checklistItemId}}">
            <div class="i--icon-question"></div>
            <div class="label-document-name">{{name}}</div>
            <div class="f--futura-book">Statement of Renumeration Paid</div> <!--TODO: Bind to subtitle-->
            <div class="label-document-filers f--futura-book">Doug Doctor<br>Carmela Doctor</div> <!--TODO: Bind to list of filers, new line after each name-->
            <div class="label-document-count">{{count documents}}</div>
        </div>
    {{/each}}
    <div class="upload-checklist-item" data-id="0">
        <div class="i--icon-question"></div>
        <div class="label-document-name">Additional Documents</div>
        <div class="label-document-count">{{count documents}}</div>
    </div>
</section>
<!--TODO: Bind all this information, please-->
<section id="dashboard-document-preview" class="small-6 medium-9">
    <div class="border-bottom-dark-grey">
        <p class="display-inline-block label-document-name-header">D1234512.jpg</p>
        <p id="label-upload-instructions" class="display-inline-block side-info-blurb label-instruction-header">Uploaded 01/24/16 6:34pm</p>
        <div class="i--icon-red-x"></div>
    </div>
    <img src="http://www.npg.si.edu/exhibit/feature/images/schoeller_full.jpg" class="image-document-preview add-top-margin">
</section>
