{{>dashboard-left-sidebar isChat="true"}}
<section id="dashboard-my-return" class="small-7 medium-6">
    <div id="container-upload-explained">
        <h1>Your Taxes Are In Progress</h1>
        <p class="side-info-blurb">TAXplan taxes are prepared in 1 business day! We will send you an email when we are all wrapped up here.</p>
    </div>
    <div class="i--icon-return-machine"></div>
</section>
{{>dashboard-right-sidebar}}