<section id="personal-profile-birthdate">
    <h1>birthdate</h1>
    <form id="birthdate-form">
        <button type="submit">Next</button>
    </form>
    <button id="birthdate-back">Back</button>
</section>