<section class="grid-container">
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Married</span>
    </div>
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Divorced</span>
    </div>
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Separated</span>
    </div>
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Widowed</span>
    </div>
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Common Law</span>
    </div>
    <div class="taxplan-tile">
        <div class="i--icon-question"></div>
        <span class="taxplan-tile-label">Single</span>
    </div>
</section>