<div id="container-address-form">
    <div class="border-bottom-dark-grey add-bottom-padding">
        <h1 class="filer-name">{{firstName}}:</h1>
        <div>
            <div class="container-inline-input long">
                <label for="filers-names-spouse">STREET ADDRESS</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
            <div class="container-inline-input short">
                <label for="filers-names-spouse">CITY</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
            <div class="container-inline-input short">
                <label>PROVINCE</label>
                    <div class="drop-down">
                        <select class="drop-down-select">
                            <option value="">Select…</option>
                            <option value="1">Ontario</option>
                            <option value="2">British Columbia</option>
                            <option value="3">Quebec</option>
                            <option value="4">Alberta</option>
                            <option value="5">Newfoundland and Labrador</option>
                            <option value="6">Saskatchewan</option>
                            <option value="7">Nova Scotia</option>
                            <option value="8">Manitoba</option>
                            <option value="9">New Brunswick</option>
                            <option value="10">Prince Edward Island</option>
                        </select>
                    </div>
            </div>
            <div class="container-inline-input short">
                <label for="filers-names-spouse">POSTAL CODE</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
        </div>
        <div class="container-residence">
            <div class="container-inline-input long">
                <label class="under">PROVINCE OF RESIDENCE (DEC 31, 2016)</label>
                <div class="drop-down">
                    <select class="drop-down-select">
                        <option value="">Select…</option>
                        <option value="1">Ontario</option>
                        <option value="2">British Columbia</option>
                        <option value="3">Quebec</option>
                        <option value="4">Alberta</option>
                        <option value="5">Newfoundland and Labrador</option>
                        <option value="6">Saskatchewan</option>
                        <option value="7">Nova Scotia</option>
                        <option value="8">Manitoba</option>
                        <option value="9">New Brunswick</option>
                        <option value="10">Prince Edward Island</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom-dark-grey add-bottom-padding">
        <h1 class="filer-name">Spouse Name:</h1>
        <div class="container-same-as-above">
            <div class="checkbox"></div>
            <p class="checkbox-label">SAME ADDRESS AS ABOVE</p>
        </div>
        <div>
            <div class="container-inline-input long">
                <label for="filers-names-spouse">STREET ADDRESS</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
            <div class="container-inline-input short">
                <label for="filers-names-spouse">CITY</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
            <div class="container-inline-input short">
                <label>PROVINCE</label>
                <div class="drop-down">
                    <select class="drop-down-select">
                        <option value="">Select…</option>
                        <option value="1">Ontario</option>
                        <option value="2">British Columbia</option>
                        <option value="3">Quebec</option>
                        <option value="4">Alberta</option>
                        <option value="5">Newfoundland and Labrador</option>
                        <option value="6">Saskatchewan</option>
                        <option value="7">Nova Scotia</option>
                        <option value="8">Manitoba</option>
                        <option value="9">New Brunswick</option>
                        <option value="10">Prince Edward Island</option>
                    </select>
                </div>
            </div>
            <div class="container-inline-input short">
                <label for="filers-names-spouse">POSTAL CODE</label>
                <input id="filers-names-spouse" type="text" value="" class="inline-input"/>
            </div>
        </div>
        <div class="container-residence">
            <div class="container-inline-input long">
                <label class="under">PROVINCE OF RESIDENCE (DEC 31, 2016)</label>
                <div class="drop-down">
                    <select class="drop-down-select">
                        <option value="">Select…</option>
                        <option value="1">Ontario</option>
                        <option value="2">British Columbia</option>
                        <option value="3">Quebec</option>
                        <option value="4">Alberta</option>
                        <option value="5">Newfoundland and Labrador</option>
                        <option value="6">Saskatchewan</option>
                        <option value="7">Nova Scotia</option>
                        <option value="8">Manitoba</option>
                        <option value="9">New Brunswick</option>
                        <option value="10">Prince Edward Island</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>