<div id="container-dependants-line" class="border-bottom-light-gray">
    <div class="container-inline-input long">
        <p id="side-info-blurb3">Skippy Doctor</p>
    </div>
    <div class="container-inline-input">
        <p id="side-info-blurb2">06/03/93</p>
    </div>
    <div class="container-inline-input container-small-button">
        <div class="container-inline-input">
            <button id="dependants-delete" class="green-outline">Delete</button>
        </div>
        <div class="container-inline-input">
            <button id="dependants-edit" class="green-outline">Edit</button>
        </div>
    </div>
</div>
