<div class="hide-for-small small-12 medium-3 grid-end white-container position-fixed">
    <div class="wrapper-container side-info {{#if sidebarImage}}has-image{{/if}}">
        {{#if sidebarImage}}
            <div class="{{sidebarImage}}"></div>
        {{/if}}
        <h3 class="font-yellow">{{sidebarTitle}}</h3>
        <p id="personal-profile-instructions" class="side-info-blurb">
        </p>
    </div>
</div>