<div id="container-birthdate-form" class="border-bottom-light-gray add-bottom-padding">
    <h1 class="filer-name">{{firstName}}:</h1>
    <label class="under">DATE OF BIRTH</label>
    <div class="container-inline-input short">
        <input id="dependants-birthday-day" type="text" value="" class="inline-input text-center" placeholder="DD"/>
    </div>
    <div class="container-inline-input short">
        <input id="dependants-birthday-month" type="text" value="" class="inline-input text-center" placeholder="MM"/>
    </div>
    <div class="container-inline-input short">
        <input id="dependants-birthday-year" type="text" value="" class="inline-input text-center" placeholder="YY"/>
    </div>

    <div class="add-top-padding">
        <div class="checkbox"></div>
        <p class="checkbox-label">I AM A CANADIAN CITIZEN</p>
    </div>
    <div>
        <div class="checkbox"></div>
        <p class="checkbox-label">CRA AUTHORIZATION</p>
    </div>
    <p class="side-info-blurb">Do you authorize the CRA (Canada Revenue Agency) to give only your name, address, date of birth, and Canadian citizenship status to Elections Canada to ensure that your information is up to date.</p>
</div>