<section data-id="{{tileContainerId}}" class="grid-container taxplan-tile-container">
    {{#each questions}}
        {{#switch type}}
            {{#case "NotSure" break=true}}
                {{#unless ../isPrimaryFiler}}
                    {{>personal-profile-tile activeTiles=../activeTiles}}
                {{/unless}}
            {{/case}}
            {{#default}}
                {{>personal-profile-tile activeTiles=../activeTiles}}
            {{/default}}
        {{/switch}}
    {{/each}}
</section>
