<section class="grid-container">
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Immigrated / Emigrated</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Own non-CA Investments</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Taxes for Deceased</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Member of the Clergy</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Prison in 2016</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">Volunteer Firefighter</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">I am a Senior</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">I adopted a child(ren)</span>
    </div>
    <div class="tax-profile-tile">
        <div class="i--icon-question"></div>
        <span class="tax-profile-tile-label">None of the Above</span>
    </div>
</section>