<section id="personal-profile-special-scenarios">
    <h1>special scenarios</h1>
    <form id="special-scenarios-form">
        <button type="submit">Next</button>
    </form>
    <button id="special-scenarios-back">Back</button>
</section>