<main id="page-user-forgot-password" class="grid-container">
    <h1>Forgot Password</h1>
    <form id="forgot-password-form">
        <p>
            <label for="forgot-password-email">Email</label>
            <input type="email" id="forgot-password-email" name="email"/>
        </p>
        <button type="submit" id="forgot-password-submit">Reset Password</button>
    </form>
    <p>
        <a href="/login">Back</a>
    </p>
    <p>
        Don't have an account? <a href="/register">Register</a>
    </p>
</main>