<main id="page-user-login" class="full-screen-grid-container main-container">
    <div class="small-6 medium-6">
        <div class="small-2 medium-2">
            <p></p>
        </div>
        <div class="small-8 medium-8 wrapper-container">
        <h1>Welcome Back to TAXplan</h1>
            <form id="user-login-form">
                <p>
                    <label for="login-email">EMAIL</label>
                    <input type="email" id="login-email" name="email" class="login"/>
                </p>
                 <div class="container-password-form">
                <label for="login-password">PASSWORD</label>
                        <input type="password" id="login-password" name="password" class="login"/>
                        <a href="/password-reset" class="link-forgot-password">Forgot Password</a>
                 </div>
                <div class="container-button-login">
                    <button type="submit" id="login-submit" class="green">Sign In</button>
                </div>
            </form>
        </div>
        <div class="small-1 medium-1">
            <p></p>
        </div>
    </div>
    <div class="yellow-container small-6 medium-6 grid-end">
        <h1 class="wrapper-container marketing">Marketing!</h1>
    </div>
</main>