<main id="page-user-authorized-password-reset" class="full-screen-grid-container main-container">
    <div class="small-6 medium-6">
        <div class="small-2 medium-2">
            <p></p>
        </div>
        <div class="small-8 medium-8 wrapper-container">
            <h1>Password Reset</h1>
            <form id="authorized-password-reset-form">
                <p>
                    <label for="authorized-password-reset-password">Password</label>
                    <input type="password" id="authorized-password-reset-password" name="password" class="login"/>
                </p>
                <div class="container-button-login">
                    <button type="submit" id="authorized-password-reset-submit" class="green">Send Reset</button>
                </div>
            </form>
        </div>
        <div class="small-1 medium-1">
            <p></p>
        </div>
    </div>
    <div class="yellow-container small-6 medium-6 grid-end">
        <h1 class="wrapper-container marketing"></h1>
    </div>
</main>
<script type="text/javascript">
    var authToken = '{{locals.token}}';
    var apiUrl = '{{locals.apiUrl}}';
</script>