<main id="page-user-password-reset" class="full-screen-grid-container main-container">
    <div class="small-6 medium-6">
        <div class="small-2 medium-2">
            <p></p>
        </div>
        <div class="small-8 medium-8 wrapper-container">
            <h1>Forgot your password?</h1>
            <h1>Enter your email address and we will send you a password reset link. Not receiving the email? Make sure to use the address you signed up with or check your spam folder.</h1>
            <form id="password-reset-form">
                <p class="no-margin">
                    <label for="password-reset-email">EMAIL</label>
                    <input type="email" id="password-reset-email" name="email" placeholder="Enter Your Email Address" class="login"/>
                    <p id="label-error-password-reset" class="label-error">Please provide information</p>
                </p>
                <div class="container-button-login">
                    <button type="submit" id="password-reset-submit" class="green">Send Reset</button>
                </div>
            </form>
        </div>
        <div class="small-1 medium-1">
            <p></p>
        </div>
    </div>
    <div class="yellow-container small-6 medium-6 grid-end position-fixed">
        <h1 class="wrapper-container marketing">Marketing!</h1>
    </div>
</main>
<script type="text/javascript">
  var apiUrl = '{{locals.apiUrl}}';
</script>
