<main id="page-user-forgot-password" class="grid-container">
    <h1>Password Reset</h1>
    <form id="forgot-password-form">
        <p>
            <input type="email" id="forgot-password-email" name="email" placeholder="Enter Your Email"/>
        </p>
        <button type="submit" id="forgot-password-submit">Send Reset</button>
    </form>
</main>