<main id="page-user-password-reset" class="grid-container">
    <h1>Password Reset</h1>
    <form id="password-reset-form">
        <p>
            <input type="email" id="password-reset-email" name="email" placeholder="Enter Your Email"/>
        </p>
        <button type="submit" id="password-reset-submit">Send Reset</button>
    </form>
</main>