<main id="page-user-authorized-password-reset" class="grid-container">
    <h1>Password Reset</h1>
    <form id="authorized-password-reset-form">
        <p>
            <label for="authorized-password-reset-password">Password</label>
            <input type="password" id="authorized-password-reset-password" name="password"/>
        </p>
        <button type="submit" id="authorized-password-reset-submit">Send Reset</button>
    </form>
</main>
<script type="text/javascript">
    var authToken = '{{data.token}}';
</script>