<section id="user-privacy-policy" class="full-screen-grid-container main-container">
    <div class="container-header fixed-page-header terms-header">
        <h1 class="header">Privacy Policy</h1>
    </div>
    <div class="privacy-policy-container">
        <p class="f--futura-book">Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use,
            communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>

        <p class="f--futura-book">• Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</p>
        <p class="f--futura-book">• We will collect and use personal information solely with the objective of fulfilling those purposes specified by us
            and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</p>
        <p class="f--futura-book">• We will only retain personal information as long as necessary for the fulfillment of those purposes.</p>
        <p class="f--futura-book">• We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</p>
        <p class="f--futura-book">• Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</p>
        <p class="f--futura-book">• We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</p>
        <p class="f--futura-book">• We will make readily available to customers information about our policies and practices relating to the management of personal information.</p>
        <p class="f--futura-book">We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of
        personal information is protected and maintained.</p>

        <p class="f--futura-book">Contacting us:</p>
        If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
        <br class="f--futura-book"/>info@www.taxplancanada.ca
        <br class="f--futura-book"/>1-855-610-PLAN (7526)
    </div>
</section>