<main id="page-user-register" class="full-screen-grid-container main-container">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Hi {{account.users.0.firstName}}, welcome to TAXplan</h1>
            <button type="submit" id="register-submit" class="green header">Sign In</button>
        </div>
        <div class="content-form">
            <form id="user-register-form">
                <h1 class="subtitle">Let’s get started…</h1>
                <p class="no-margin">
                    <label for="register-email">PREFERRED EMAIL</label>
                    <input type="email" id="register-email" name="email"/>
                    <p id="register-label-error-email" class="label-error">Email must be xxx@xxx.xxx format</p>
                </p>
                <p class="no-margin">
                    <label for="register-confirm-email">CONFIRM EMAIL</label>
                    <input type="email" id="register-confirm-email" name="confirmemail"/>
                    <p id="register-label-error-confirm-email" class="label-error">Email addresses must match</p>
                </p>
                <p class="container-password-form-register">
                    <label for="register-password">PASSWORD</label>
                    <input type="password" id="register-password" name="password"/>
                    <p id="register-label-error-password" class="label-error">Password must be minimum of 8 characters</p>
                </p>
                <p class="no-margin">
                    <label for="register-confirm-password">CONFIRM PASSWORD</label>
                    <input type="password" id="register-confirm-password" name="confirmpassword"/>
                    <p id="register-label-error-confirm-password" class="label-error">Passwords must match</p>
                </p>

            </form>
        </div>
    </div>
    <div class="hide-for-small small-12 medium-5 grid-end white-container">
        <div class="wrapper-container side-info">
            <h3 class="font-yellow">Hi, from the TAXplan Team</h3>
            <p class="side-info-blurb">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam velit ut faucibus consequat. In hac habitasse platea dictumst. Proin at volutpat velit. Quisque congue varius nulla non aliquam. Integer condimentum dapibus ipsum, sit amet pharetra ligula aliquam sit amet. Praesent dui tortor, molestie et sodales non, vulputate in ligula. Curabitur nec justo tellus. Sed ac arcu porttitor, blandit sapien convallis, ultrices nisi. Duis aliquam iaculis nunc sed sodales. Phasellus cursus convallis scelerisque. Nulla consectetur, nunc at maximus tincidunt, mauris sapien vehicula libero, at bibendum metus dui ac magna. Donec tempus justo eu vestibulum dictum.
            </p>
        </div>
    </div>
</main>