<section id="user-settings" class="full-screen-grid-container main-container-no-padding">
    {{#debug}}{{/debug}}
    <div class="small-12 medium-9 user-settings-container">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Settings</h1>
        </div>
        <div class="small-5 medium-5">
            <form id="user-settings-form">
                <p class="no-margin">
                    <label for="settings-email">Change Email Address</label>
                    <input type="email" id="settings-email" name="email"/>
                    <p id="label-error-settings-email" class="label-error">Please enter your email address</p>
                </p>
                <p class="no-margin">
                    <label for="settings-email">Confirm Email Address</label>
                    <input type="email" id="settings-confirm-email" name="confirmedEmail"/>
                    <p id="label-error-settings-confirm-email" class="label-error">Please confirm your email address</p>
                </p>
                <p class="no-margin add-top-margin add-top-padding">
                    <label for="settings-email">New Password</label>
                    <input type="password" id="settings-password" name="password"/>
                <p id="label-error-settings-new-password" class="label-error">Please enter your password</p>
                </p>
                <p class="no-margin">
                    <label for="settings-email">Confirm New Password</label>
                    <input type="password" id="settings-confirm-password" name="confirmedPassword"/>
                <p id="label-error-settings-confirm-password" class="label-error">Please confirm your password</p>
                </p>
                <div class="add-top-margin add-top-padding">
                    <button type="submit" id="settings-done" class="purple">Cancel</button>
                    <button type="submit" id="settings-submit" data-id="{{@root.users.0.id}}" url={{@root.apiUrl}} token="{{@root.token}}" class="green">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="hide-for-small small-12 medium-3 grid-end white-container position-fixed">
        <div class="wrapper-container side-info has-image">
            <div data-id="" class="i--icon-woosh-mail"></div>
            <p id="tax-profile-instructions" class="side-info-blurb">Lorem Ipsum
            </p>
        </div>
    </div>
</section>
