<section id="user-terms-and-conditions" class="full-screen-grid-container main-container-no-padding">
    <div class="small-12 medium-9">
        <div class="container-header fixed-page-header medium-9">
            <h1 class="header">Terms and Conditions</h1>
        </div>
    </div>
    <div class="hide-for-small small-12 medium-3 grid-end white-container position-fixed">
        <div class="wrapper-container side-info has-image">
            <div data-id="" class="i--icon-woosh-mail"></div>
            <p id="tax-profile-instructions" class="side-info-blurb">Lorem Ipsum
            </p>
        </div>
    </div>
</section>