<section id="user-terms-and-conditions" class="full-screen-grid-container main-container">
        <div class="container-header fixed-page-header terms-header">
            <h1 class="header">Terms and Conditions</h1>
        </div>
    <div class="terms-and-conditions-container">
        <p class="f--futura-book">These terms of service outline the nature of TAXplan’s involvement with your Income Tax Return(s). As agreed, TAXplan will compile the necessary information in accordance with the standards applicable and will complete the necessary forms and schedules required to file your tax return. TAXplan will not audit, review, or otherwise attempt to verify the accuracy or the completeness of such information. Unless unanticipated difficulties are encountered, TAXplan’s communication will be substantially in the following form:</p>

        <p class="f--futura-book">TAXplan will prepare the income tax return for you using information provided by you. TAXplan will not audit, review, or otherwise attempt to verify the accuracy or completeness of such information.

        <p class="f--futura-book">TAXplan is accepting this engagement as a tax preparer only, not as an auditor. It is requested that you do not record this as an auditing or review engagement in any of the records that you or your business may keep. TAXplan’s services will not result in the expression of an audit opinion or any other form of assurance on the financial information reported in the return, nor will it satisfy any statutory or other audit requirement. You may wish to obtain legal advice concerning statutory (or contractual) audit requirements.</p>

        <p class="f--futura-book">It is understood and agreed that:

        <p class="f--futura-book">• You will provide accurate and complete information necessary to complete your tax return(s);</p>
        <p class="f--futura-book">• The responsibility for the accuracy and completeness of the representations in the return(s) and related financial information remains with you;</p>
        <p class="f--futura-book">• The tax return(s) will be unaudited</p>
        <p class="f--futura-book">• The financial information provided may either lack disclosure required by, or otherwise not be in accordance with generally accepted accounting principles, and may not be appropriate for general use; and</p>
        <p class="f--futura-book">• Uninformed readers could be misled unless they are aware of the possible limitations of the return(s), related financial information and TAXplan’s very limited involvement.</p>
        <p class="f--futura-book">• By submitting this form you agree to the following terms: Although every effort is made to reduce your tax payable by uncovering all available credits and deductions, TAXplan cannot be held responsible if something is missed. Your input and questions are both welcome and necessary to prepare the best possible tax return for you.</p>
        <p class="f--futura-book">• Tax returns will be filed once payment and all applicable signed documents are received.</p>
        <p class="f--futura-book">• Once a client has authorized TAXplan to begin preparation of their tax returns, fees for services become due and payable not withstanding result.</p>
        <p class="f--futura-book">• This engagement cannot be relied upon to prevent or detect error and fraud and other irregularities. TAXplan wishes to emphasize that any responsibility for the prevention and detection of error and fraud and other irregularities must remain with you.</p>

        <p class="f--futura-book">• These terms will remain in effect the entire duration that you remain a client of TAXplan.
    </div>
</section>